<template>
  <div class="app-container">
    <!--查询  -->
    <div style="margin-bottom: 30px;"></div>
    <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleCreate" v-perm="'b:userActivity:add'">{{textMap.create}}</el-button>
    <div style="margin-bottom: 30px;"></div>
    <!--列表-->
    <el-table style="width: 100%"
              :data="tableData"
              v-loading.body="tableLoading"
              element-loading-text="加载中"
              border fit highlight-current-row>
      <el-table-column prop="id" label="动态id" width="100"></el-table-column>
      <el-table-column   prop="content" label="动态内容" ></el-table-column>
      <el-table-column prop="contentUrl" label="视频" width="150">
          <template   slot-scope="scope"> 
        <a :href="scope.row.contentUrl" target="_blank">{{scope.row.contentUrl}}</a>
        </template>
      </el-table-column>
      <el-table-column prop="contentPosition" label="动态发布的地址" width="150"></el-table-column>
      <el-table-column prop="userId" label="发布动态的用户id" width="80"></el-table-column>
      <el-table-column prop="isHot" label="是否精选动态" width="80">
          <template  slot-scope="scope" > 
            <el-tag
            :type="scope.row.isHot == '0' ? 'danger' : 'success'"
            disable-transitions>{{scope.row.isHot == '0' ? '非精选' : '精选'}}</el-tag>
        </template>
      </el-table-column>
       <el-table-column prop="isCheck" label="审核状态" width="110">
          <template  slot-scope="scope" > 
            <el-tag
            :type="scope.row.isCheck == '0' ? 'info' : (scope.row.isCheck == '1' ? 'success' : 'danger')"
            disable-transitions>{{scope.row.isCheck == '0' ? '未审核' : (scope.row.isCheck == '1' ? '审核通过' : '审核未通过')}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="180">
        <template slot-scope="scope">
          <el-tooltip content="编辑" placement="top" v-if="!hasAdminRole(scope.row)">
            <el-button @click="handleUpdate(scope.$index,scope.row)" size="medium" type="primary" icon="el-icon-edit" circle plain></el-button>
          </el-tooltip>
          <el-tooltip content="审核" placement="top" v-if="!hasAdminRole(scope.row)">
            <el-button @click="handleCheck(scope.$index,scope.row)" size="medium" type="warning" icon="el-icon-star-off" circle plain></el-button>
          </el-tooltip>
          <el-tooltip content="精选/非精选" placement="top" v-if="!hasAdminRole(scope.row)">
            <el-button @click="handleDelete(scope.$index,scope.row)" size="medium" type="danger" icon="el-icon-delete" circle plain></el-button>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-bottom: 30px;"></div>
    <!--分页-->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="tablePage.current"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="tablePage.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tablePage.total">
    </el-pagination>
    <!--弹出窗口：新增/编辑用户动态-->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" width="40%" v-dialogDrag center>
      <el-form :rules="rules" ref="dataForm" :model="temp" label-position="left" label-width="140px">
        <el-form-item label="动态内容" prop="content">
          <el-input v-model="temp.content"></el-input>
        </el-form-item>
        <el-form-item label="视频" prop="videoUrl">

          <el-upload ref="upload" action="" :http-request="handleFile" :on-change="video_file" :multiple="false" :limit="1" 
            :file-list="video" accept="video/mp4,audio/mp4,image/jpeg, image/gif, image/png, image/bmp" :before-upload="beforeAvatarUpload">
              <el-button size="small" type="primary" @click="clearUploadedImage()">点击上传</el-button>
              <div slot="tip" class="el-upload__tip">只能上传.MP4格式视频或image图片</div>
          </el-upload>
        </el-form-item>

        <el-form-item label="动态发布的地址" prop="contentPosition">
          <!-- <el-select style="width:200px;" v-model="temp.contentPosition" placeholder="请选择">
                <el-option v-for="item in beijing" :key="item" :lable="item" :value="item"></el-option>
          </el-select> -->
          <el-input v-model="temp.contentPosition"></el-input>
        </el-form-item>

        <el-form-item label="发布动态的用户id" prop="userId">
          <el-select style="width:200px;" v-model="temp.userId" placeholder="请选择">
                <el-option v-for="item in userIdList" :key="item" :lable="item" :value="item"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="内容标签" prop="contentLabel">
          <el-input v-model="temp.contentLabel"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false;clearUploadedImage ()">取消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="createData();clearUploadedImage()">创建</el-button>
        <el-button v-else type="primary" @click="updateData();clearUploadedImage ()">确定</el-button>
      </div>
    </el-dialog>

    <!--弹出窗口：审核精选动态-->
    <el-dialog title="审核精选动态" :visible.sync="checkUserActivityDialogVisible" width="30%" v-dialogDrag center>
      <div slot="footer" class="dialog-footer">
        <el-button @click="checkUserActivityDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="checkUserActivity(1)">审核通过</el-button>
        <el-button type="danger" @click="checkUserActivity(2)">审核不通过</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

  import optionApi from '@/api/option'
  import userActivityApi from '@/api/userActivity'
  import {parseTime, resetTemp} from '@/utils'
  import {root,confirm,pageParamNames} from '@/utils/constants'
  import debounce from 'lodash/debounce'
  import { getToken } from '@/utils/auth'
  import { beijing } from '@/utils/city'
  import axios from 'axios'
  import store from '@/store'

  export default {
    name: 'IndexessayManage',
    data() {

      let validateContent = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('必填'));
        } else {
          callback();
        }
      };

      let validateUserId = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('必选'));
        } else {
          callback();
        }
      }; 
      let validateContentPosition = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('必填'));
        } else {
          callback();
        }
      };
      return {
        beijing:beijing,
        tableLoading: false,
        tableData: [],
        tablePage: {
          current: null,
          pages: null,
          size: null,
          total: null
        },
        dialogFormVisible: false,
        checkUserActivityDialogVisible: false,
        dialogStatus: '',
        temp: {
          idx: null, //tableData中的下标
          id: null,
          content: null,
          userId: null,
          contentUrl: null,
          contentPosition:null,
          contentLabel:null,
          isHot:null,
          isCheck:null
        },
        textMap: {
          update: '编辑视频动态',
          create: '新增视频动态'
        },
        rules: {
          content: [{validator: validateContent, trigger: 'blur'}],
          userId: [{validator: validateUserId, trigger: 'blur'}],
          contentPosition: [{validator: validateContentPosition, trigger: 'blur'}]
        },
        video:[],
        userIdList:[],
      }

    },

    created() {
      this.fetchData()
      this.initData()
    },
    methods: {
      initData(){
         userActivityApi.selectUserID().then(res => {
            this.userIdList = res.data.data
          })
      },

      handleFile () { },
      clearUploadedImage () {
        this.$refs.upload.clearFiles();
        this.video = [];
    },
      video_file (file, fileList) {
      // 文章封面图片 on-change 事件
      this.video = fileList;
    },
     beforeAvatarUpload(file) {
       
        const isMP4 = file.type === 'video/mp4';
        const isMP41 = file.type === 'audio/mp4';
        const isLt6M = file.size / 1024 / 1024 < 6;
      const isJPG = file.type === "image/jpeg";
      const isGIF = file.type === "image/gif";
      const isPNG = file.type === "image/png";
      const isBMP = file.type === "image/bmp";
        if (!isMP4 && !isMP41&&!isJPG && !isGIF && !isPNG && !isBMP) {
          this.$message.error('上传文件格式错误!');
        }
        if (!isLt6M) {
          this.$message.error('上传文件大小不能超过 6MB!');
        }
        return (isMP4 || isMP41||isJPG || isBMP || isGIF || isPNG ) && isLt6M;
      },
      hasAdminRole(row){
        if(row){
          return row && row.rval==root.rval
        }
        return false
      },

      //分页
      handleSizeChange(val) {
        this.tablePage.size = val;
        this.fetchData();
      },
      handleCurrentChange(val) {
        this.tablePage.current = val;
        this.fetchData();
      },

      //查询
      fetchData(current) {
        if(current){
          this.tablePage.current = current
        }
        this.tableLoading = true
        userActivityApi.queryUserActivity(this.tablePage).then(res => {
          this.tableData = res.data.data.data
          this.tableLoading = false
          pageParamNames.forEach(name => this.$set(this.tablePage, name, res.data.data[name]))
        })
         
      },
      handleView(idx,row) {
      },
      handleCheck(idx,row) {
        this.temp = Object.assign({}, row) // copy obj
        this.checkUserActivityDialogVisible = true
      },
      checkUserActivity(isCheck){
        userActivityApi.updateUserActityCheck( {id : this.temp.id,isCheck:isCheck} ).then(res => {
           
             if(isCheck=='1'){
              this.$message.success('该动态已审核通过')
            }else{
              this.$message.warning('该动态审核未通过')
            }
             window.location.reload();
          })
      },
      //更新
      handleUpdate(idx, row) {
        this.temp = Object.assign({}, row) // copy obj
        this.temp.idx = idx
        this.dialogStatus = 'update'
        this.dialogFormVisible = true
        this.$nextTick(() => this.$refs['dataForm'].clearValidate())
      },
      updateData() {
        this.$refs['dataForm'].validate((valid) => {
          if (!valid) return
          let formData = new FormData();
            //表单的数据
            formData.append('id', this.temp.id);
            formData.append('content', this.temp.content)
            formData.append('userId', this.temp.userId)
            formData.append('contentLabel', this.temp.contentLabel);
            formData.append('contentPosition', this.temp.contentPosition);
            formData.append('file', this.video[0] ? this.video[0].raw : '')
            var url='/userActivity/update';
            if( this.video.length>0){
              url='/userActivity/update';
            }else{
              url='/userActivity/updateUserActity';
            }
            let config = {
              headers: {
              'Content-Type': 'multipart/form-data'
              }
            };
            if (store.getters.token) {
              config.headers['authorization'] = getToken() // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
            }
          axios.defaults.withCredentials = true 
          axios.post(process.env.BASE_API + url, formData, config, {withCredentials: true}).then(res => {
             console.log(res.data)
             this.dialogFormVisible = false
             if(res.data.code==1000){
             this.$message.success("视频动态修改成功")
             window.location.reload();
             }else{
                this.$message.error("视频动态修改失败")
             }
           });
        })
      },
      //删除
      handleDelete(idx, row) {
        let massge="";
        let isHot;
        if(row.isHot=='0'){
          massge="您确定要将该非精选动态设置为精选？";
          isHot=1;
        }else{
          massge= "您确定要将该精选动态设置为非精选？";
           isHot=0;
        }
        this.$confirm(massge, '提示', confirm).then(() => {
          userActivityApi.updateUserActityHot( {id : row.id,isHot:isHot} ).then(res => {
           
             if(row.isHott=='0'){
              this.$message.success('该动态已设置为精选')
            }else{
              this.$message.success('该动态已设置为非精选')
            }
             window.location.reload();
          })
        }).catch(() => {
          this.$message.info('已取消精选动态修改操作')
        })

      },

      //新增
      handleCreate() {
        resetTemp(this.temp)
        this.dialogStatus = 'create'
        this.dialogFormVisible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].clearValidate()
        })
      },
      createData() {
        this.$refs['dataForm'].validate((valid) => {
          if (!valid) return;
         let formData = new FormData();
            //表单的数据
            formData.append('content', this.temp.content)
            formData.append('userId', this.temp.userId)
            formData.append('contentLabel', this.temp.contentLabel);
            formData.append('contentPosition', this.temp.contentPosition);
            formData.append('isHot', 1);
            formData.append('file', this.video[0] ? this.video[0].raw : '');
            console.log(this.video);
            var url='/userActivity/add';
            let config = {
              headers: {
              'Content-Type': 'multipart/form-data'
              }
            };
            if (store.getters.token) {
              config.headers['authorization'] = getToken() // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
            }
          axios.defaults.withCredentials = true 
          axios.post(process.env.BASE_API + url, formData, config, {withCredentials: true}).then(res => {
             console.log(res.data)
             this.dialogFormVisible = false
             if(res.data.code==1000){
             this.$message.success("视频动态添加成功")
            window.location.reload();
            //  window.location.reload();
             }else{
                this.$message.error("视频动态添加失败")
             }
           });
        })
      },
    
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .role-checkbox{
    margin-left: 0px;
    margin-right: 15px;
  }
  a:hover {
    color: blue;
}
</style>
