<template>
    <div class="app-container">
        <el-form class="detail-form" autoComplete="on" :model="pushForm" :rules="pushRules" ref="pushForm" label-position="left" label-width="150px">
           <div >
             <h3>文章推送</h3>
            </div>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="pushType" label="推送类型">
                        <el-select style="width:200px;" v-model="pushForm.pushType" placeholder="请选择">
                          <el-option v-for="item in pushType" :key="item.lable" :lable="item.lable" :value="item.value"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>              
                <el-col :span="12">
                    <el-form-item prop="pushTitle" label="推送标题">
                        <el-input  name="pushTitle" style="width:400px;" type="text" v-model="pushForm.pushTitle" autoComplete="on" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="pushEssayUrl" label="推送文章链接">
                        <el-input name="pushEssayUrl" style="width:400px;" type="text" v-model="pushForm.pushEssayUrl" autoComplete="on"/>
                    </el-form-item>
                </el-col>
            </el-row>
              <div  class="dialog-footer" style="float:right;margin-right: 212px;">
                <el-button @click="colseForm">取消</el-button>
                <el-button  @click="pushEssay" :disabled="isDisabled">推送</el-button>
             </div>
        </el-form>
    </div>
</template>

<script>
  import pushApi from '@/api/pushEssay'
  import {pushType}  from '@/utils/pushEssay'
export default {
    name: 'pushEssay',
    data() {
        const validatepushType = (rule, value, callback) => {
        if (!value) {
          callback(new Error('请选择推送类型!'))
        } else {
          callback()
        }
      }
        const validatepushTitle = (rule, value, callback) => {
        if (!value) {
          callback(new Error('推送标题不能为空!'))
        } else {
          callback()
        }
      }
      const validatepushEssayUrl = (rule, value, callback) => {
        if (!value) {
          callback(new Error('推送文章链接不能为空!'))
        } else {
          callback()
        }
      }
      return {
        pushType:pushType,
        pushForm: {
          pushType: null,
          pushTitle: null,
          pushEssayUrl: null
        }, 
       
        pushRules: {
          pushType: [{required: true, trigger: 'blur', validator: validatepushType}],
          pushTitle: [{required: true, trigger: 'blur', validator: validatepushTitle}],
          pushEssayUrl: [{required: true, trigger: 'blur', validator: validatepushEssayUrl}]
        },
        isDisabled:false,
        pushFormTemp: {
          pushType: null,
          pushTitle: null,
          pushEssayUrl: null
        }, 
      }
    },methods: {
      getPushType(value){
        for(let i = 0; i < pushType.length; i++){
              if(value==pushType[i].value){
                return pushType[i].lable;
              }
            }
      },
      pushEssay() {
        this.$refs.pushForm.validate(valid => {
          if (valid) {
            this.isDisabled = true;
            let pushType=this.pushForm.pushType;
            this.pushFormTemp.pushType=this.getPushType(pushType);
            this.pushFormTemp.pushTitle=this.pushForm.pushTitle;
            this.pushFormTemp.pushEssayUrl=this.pushForm.pushEssayUrl;
            pushApi.pushEssay(this.pushFormTemp).then(res => {
              if(res.data.code==1000){
                this.$message.success("文章推送成功")
                 this.colseForm();
              }else{
                this.$message.error("文章推送失败")
              }
            })
          }
        })
      },
      colseForm() {
        this.$store.dispatch('delVisitedViews', this.$route);
        this.$router.go(-1);
      },
    },
}
</script>
