<template>
  <div class="app-container">
    <!--查询  -->
    <el-row>
      <el-input style="width:200px;" v-model="tableQuery.cityName" placeholder="城市名"></el-input>
      <span style="margin-right: 15px;"></span>
      <el-tooltip class="item" content="搜索" placement="top" >
        <el-button icon="el-icon-search" circle @click="fetchData(1)"></el-button>
      </el-tooltip>
    </el-row>
    <div style="margin-bottom: 30px;"></div>
    <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleCreate">{{textMap.create}}</el-button>
    <div style="margin-bottom: 30px;"></div>
    <!--列表-->
    <el-table style="width: 100%"
              :data="tableData"
              v-loading.body="tableLoading"
              element-loading-text="加载中"
              border fit highlight-current-row>
      <el-table-column prop="id" label="城市id"></el-table-column>
      <el-table-column prop="cityName" label="城市名"  width="100"></el-table-column>
      <el-table-column prop="cityPhotoUrl" label="城市图片"  width="180">
        <template   slot-scope="scope"> 
        <img :src="scope.row.cityPhotoUrl" width="112" heigth="150"/>
        </template>
      </el-table-column>
      <el-table-column prop="cityIndex" label="排序"></el-table-column>
      <el-table-column prop="cityStatus" label="城市是否开放">
         <template  slot-scope="scope" > 
            <el-tag
            :type="scope.row.cityStatus == '0' ? 'success' : 'danger'"
            disable-transitions>{{scope.row.cityStatus == '0' ? '开放' : '未开放'}}</el-tag>
         </template>
      </el-table-column>
      <el-table-column prop="fid" label="上级城市" :formatter="formatterFid"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-tooltip content="编辑" placement="top">
            <el-button @click="handleUpdate(scope.$index,scope.row)" size="medium" type="info" icon="el-icon-edit" circle plain></el-button>
          </el-tooltip>
          <el-tooltip content="开放/关闭" placement="top" v-if="!hasAdminRole(scope.row)">
            <el-button @click="handleDelete(scope.$index,scope.row)" size="medium" type="danger" icon="el-icon-delete" circle plain></el-button>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-bottom: 30px;"></div>
    <!--分页-->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="tablePage.current"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="tablePage.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tablePage.total">
    </el-pagination>
    <!--弹出窗口：新增/编辑城市-->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" width="35%" v-dialogDrag center>
      <el-form :rules="rules" ref="dataForm" :model="temp" label-position="left" label-width="120px">

        <el-form-item label="城市名" prop="cityName">
          <el-input v-model="temp.cityName"></el-input>
        </el-form-item>
        <el-form-item label="城市图片" prop="cityPhotoUrl">
                <el-upload ref="upload" action="" :http-request="handleFile" :on-change="cityPhoto_file" :multiple="false" :limit="1" 
                :file-list="cityPhoto" accept="image/jpeg,image/gif,image/png,image/bmp" :before-upload="beforeAvatarUpload">
                  <el-button size="small" type="primary" @click="clearUploadedImage()">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                </el-upload>
        </el-form-item>
        <el-form-item label="有无父级城市">
          <el-switch v-model="ishasFcity" active-color="#13ce66" @change="isHasFcity"></el-switch>
        </el-form-item>
        <el-form-item label="父级城市" prop="fid" v-show="ishasFcity">
          <el-select v-model="temp.fid" style="width:120px;" @change="selectFCity">
		        <el-option v-for="option in fCity" :value="option.cityName" :key="option.cityName">
		      	  {{ option.cityName }}
		        </el-option>
	        </el-select>
        </el-form-item>

        <el-form-item label="城市排序" prop="cityIndex">
          <el-input v-model="temp.cityIndex"></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false;clearUploadedImage ()">取消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="createData();clearUploadedImage()">创建</el-button>
        <el-button v-else type="primary" @click="updateData();clearUploadedImage()">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import cityTableApi from '@/api/cityTable'
  import {parseTime, resetTemp} from '@/utils'
  import {root,confirm,pageParamNames} from '@/utils/constants'
  import debounce from 'lodash/debounce'
  import { getToken } from '@/utils/auth'
  import axios from 'axios'
  import store from '@/store'

  export default {

    name: 'CityTableManage',

    data() {

      let validateName = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('必填'));
        } else {
          callback();
        }
      };

      return {
        ishasFcity: false,
        tableLoading: false,
        tableData: [],
        tableQuery: {
          cityName: null
        },
        tablePage: {
          current: null,
          pages: null,
          size: null,
          total: null
        },
        dialogFormVisible: false,
        dialogStatus: '',
        temp: {
          idx: null, //tableData中的下标
          id: null,
          cityName: null,
          cityPhotoUrl: null,
          cityIndex: null,
          cityStatus: null,
          fid: null
        },
        textMap: {
          update: '编辑城市',
          create: '新增城市'
        },
        rules: {
          cityName: [{validator: validateName, trigger: 'blur'}]
        },
        fCity: [],
        cityPhoto:[],
        fid:0,
      }

    },

    created() {
      this.initData()
      this.fetchData()
    },

    watch: {
      //延时查询
      'tableQuery.cityName': debounce(function () {
        this.fetchData()
      }, 500)
    },//watch

    methods: {

      initData(){
        cityTableApi.selectFCity().then(res => {
           this.fCity = res.data.data;
        })
      },

       handleFile () { },
      clearUploadedImage () {
        this.$refs.upload.clearFiles();
        this.cityPhoto = [];
    },
      cityPhoto_file (file, fileList) {
      // 文章封面图片 on-change 事件
      this.cityPhoto = fileList;
    },
     beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isGIF = file.type === 'image/gif';
        const isPNG = file.type === 'image/png';
        const isBMP = file.type === 'image/bmp';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG && !isGIF && !isPNG && !isBMP) {
          this.$message.error('上传图片必须是JPG/GIF/PNG/BMP 格式!');
        }
        if (!isLt2M) {
          this.$message.error('上传图片大小不能超过 2MB!');
        }
        return (isJPG || isBMP || isGIF || isPNG) && isLt2M;
      },

      hasAdminRole(row){
        return row && row.rval==root.rval;
      },
      //分页
      handleSizeChange(val) {
        this.tablePage.size = val;
        this.fetchData();
      },
      handleCurrentChange(val) {
        this.tablePage.current = val;
        this.fetchData();
      },

      //查询
      fetchData(current) {
        if(current){
          this.tablePage.current = current
        }
        this.tableLoading = true
        cityTableApi.queryCityTable(this.tableQuery, this.tablePage).then(res => {
          this.tableData = res.data.data.data
          this.tableLoading = false
          pageParamNames.forEach(name => this.$set(this.tablePage, name, res.data.data[name]))
        })
      },

      //更新
      handleUpdate(idx, row) {
        this.temp = Object.assign({}, row) // copy obj
        this.temp.idx = idx
        this.dialogStatus = 'update'
        for (var i in this.fCity) {
          var obj = this.fCity[i];
          if (obj.id == this.temp.fid) {
            this.temp.fid = obj.cityName;
             this.ishasFcity=true;
            break;
          }else{
            this.fid = 0;
            this.ishasFcity=false;
          }
        }
        this.dialogFormVisible = true
        this.$nextTick(() => this.$refs['dataForm'].clearValidate())
      },
      updateData() {
        this.$refs['dataForm'].validate((valid) => {
          if (!valid) return
          let formData = new FormData();
            //表单的数据
            formData.append('id', this.temp.id);
            formData.append('cityName', this.temp.cityName)
            formData.append('cityIndex', this.temp.cityIndex);
            formData.append('fid', this.fid);
            formData.append('file', this.cityPhoto[0] ? this.cityPhoto[0].raw : '')
            var url='/cityTable/update';
            if( this.cityPhoto.length>0){
              url='/cityTable/update';
            }else{
              url='/cityTable/updateCityTable';
            }
            let config = {
              headers: {
              'Content-Type': 'multipart/form-data'
              }
            };
            if (store.getters.token) {
              config.headers['authorization'] = getToken() // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
            }
          axios.defaults.withCredentials = true 
          axios.post(process.env.BASE_API + url, formData, config, {withCredentials: true}).then(res => {
             console.log(res.data)
             this.dialogFormVisible = false
             if(res.data.code==1000){
             this.$message.success("城市修改成功")
             window.location.reload();
             }else{
                this.$message.error("城市修改失败")
             }
           });
        })
      },



      //删除
      handleDelete(idx, row) {
        let massge="";
        let cityStatus;
        if(row.cityStatus==1){
          massge="您确定要开放该城市？";
           cityStatus=0;
        }else{
          massge= "您确定要关闭该城市？";
          cityStatus=1;
        }
        this.$confirm(massge, '提示', confirm).then(() => {
          cityTableApi.updateCityStatus({id: row.id,cityStatus:cityStatus}).then(res => {
            if(row.cityStatus=='1'){
              this.$message.success('该城市已开放')
            }else{
              this.$message.success('该城市已关闭')
            }
             window.location.reload();
          })
        }).catch(() => {
          this.$message.info("已取消修改城市开放状态")
        });

      },

      //新增
      handleCreate() {
        resetTemp(this.temp)
        this.dialogStatus = 'create'
        this.dialogFormVisible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].clearValidate()
        })
      },
      createData() {
        this.$refs['dataForm'].validate((valid) => {
          if (!valid) return;
         let formData = new FormData();
            //表单的数据
             formData.append('cityName', this.temp.cityName)
            formData.append('cityIndex', this.temp.cityIndex);
            formData.append('fid', this.fid);
            formData.append('cityStatus', 0);
            formData.append('file', this.cityPhoto[0] ? this.cityPhoto[0].raw : '')
            var url='/cityTable/add';
            let config = {
              headers: {
              'Content-Type': 'multipart/form-data'
              }
            };
            if (store.getters.token) {
              config.headers['authorization'] = getToken() // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
            }
          axios.defaults.withCredentials = true 
          axios.post(process.env.BASE_API + url, formData, config, {withCredentials: true}).then(res => {
             console.log(res.data)
             this.dialogFormVisible = false
             if(res.data.code==1000){
             this.$message.success("城市添加成功")
            window.location.reload();
            //  window.location.reload();
             }else{
                this.$message.error("城市添加失败")
             }
           });
        })
      },
      selectFCity: function () {
        for (var i in this.fCity) {
          var obj = this.fCity[i];
          if (obj.cityName == this.temp.fid) {
            this.fid = obj.id;
            break;
          }else{
             this.fid = 0;
          }
        }
      },
      isHasFcity(){
        if(!this.ishasFcity){
           this.fid = 0;
        }
      },
      formatterFid:function(row, column, value) {
        for (var i in this.fCity) {
          if (value==this.fCity[i].id) {
            return this.fCity[i].cityName;
          }
        }
      },

    }
  }
</script>
