<template>
  <div class="app-container">
    <!--查询  -->
    <el-row>
      <el-date-picker
        v-model="tableQuery"
        type="daterange"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
        value-format="yyyy-MM-dd"
      ></el-date-picker>
      <span style="margin-right: 15px;"></span>
      <el-tooltip class="item" content="搜索" placement="top">
        <el-button icon="el-icon-search" circle @click="fetchData()"></el-button>
      </el-tooltip>
    </el-row>
    <div style="margin-bottom: 30px;"></div>
    <el-button type="primary" icon="document" size="mini" @click="exportToExcel">导出Excel</el-button>
    <div style="margin-bottom: 30px;"></div>
    <div>
      <!-- <e-charts :options="chartOption"></e-charts> -->
      <div id="myChart" style="width: 800px;height: 600px;"></div>
    </div>
  </div>
</template>

<script>
import activityApi from "@/api/activity";
export default {
  data() {
    return {
      tableQuery: [],
      tableData: [],
      queryParam: {
        startTime: null,
        endTime: null
      },
      activitySuccess: null, //需要替换的数据
      activityFailure: null //需要替换的数据
    };
  },
  created() {
    this.fetchData();
  },
  mounted() {
    this.drawLine();
  },
  watch: {
    activitySuccess(val) {
      //监听数据发生改变 刷新图表数据
      this.drawLine();
    }
  },
  methods: {
    //查询
    fetchData() {
      this.queryParam.startTime = this.tableQuery[0];
      this.queryParam.endTime = this.tableQuery[1];
      activityApi.activitySFRatio(this.queryParam).then(res => {
        this.tableData = res.data.data;
        this.activitySuccess = res.data.data.activitySuccess;
        this.activityFailure = res.data.data.activityFailure;
      });
    },
    drawLine() {
      var activitySuccess = this.activitySuccess;
      var activityFailure = this.activityFailure;
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("myChart"));
      // 绘制图表
      myChart.setOption({
        title: { text: "活动成功失败比例" },
        //右上角的工具箱
        toolbox: {
          x: "80%",
          y: "top",
          show: true,
          feature: {
            mark: { show: true },
            //是否可以保存图片
            saveAsImage: { show: true },
            //dataView : '数据视图',
            dataView: { show: true },
            // magicType: {
            //   //动态类型切换
            //   type: ["bar", "line"]
            // }
          }
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        color: ['#CD5C5C', '#00CED1', '#9ACD32', '#FFC0CB'],
        stillShowZeroSum: false,
        series: [
            {
                name: '成功失败场次',
                type: 'pie',
                radius: '80%',
                center: ['60%', '60%'],
                data: [
                    {value: activitySuccess, name: '成功场次'},
                    {value: activityFailure, name: '失败场次'},
                   
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(128, 128, 128, 0.5)'
                    }
                },
                 normal:{ 
                        label:{ 
                            show: true, 
                            formatter: '{b} : {c} ({d}%)' 
                        }, 
                        labelLine :{show:true} 
                    } 
            }
        ]
      });
    },

    exportToExcel() {
      //excel数据导出
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        const tHeader = ["成功场次", "失败场次"];
        const filterVal = [ "toDayVipNum", "vipNumCount"];
        const list = new Array();
       
          const element = {toDayVipNum: null, vipNumCount: null };
          element.toDayVipNum = this.activitySuccess;
          element.vipNumCount = this.activityFailure;
          list[0] = element;
        
        const data = this.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, "活动成功失败比例");
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    }
  },
  components: {}
};
</script>