<template>
  <div class="app-container">
    <!--查询  -->
    <el-row>
      <el-date-picker
        v-model="tableQuery"
        type="daterange"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
        value-format="yyyy-MM-dd"
      ></el-date-picker>
      <span style="margin-right: 15px;"></span>
      <el-tooltip class="item" content="搜索" placement="top">
        <el-button icon="el-icon-search" circle @click="fetchData()"></el-button>
      </el-tooltip>
    </el-row>
    <div style="margin-bottom: 30px;"></div>
    <el-button type="primary" icon="document" size="mini" @click="exportToExcel">导出Excel</el-button>
    <div style="margin-bottom: 30px;"></div>
    <div>
      <!-- <e-charts :options="chartOption"></e-charts> -->
      <div id="myChart" style="width: 800px;height: 600px;"></div>
    </div>
  </div>
</template>

<script>
import activityApi from "@/api/activity";
export default {
  data() {
    return {
      tableQuery: [],
      tableData: [],
      queryParam: {
        startTime: null,
        endTime: null
      },
      huwaiNum:null, //需要替换的数据
      jiaoyouNum:null, //需要替换的数据
      hongpaNum:null, //需要替换的数据
      yedianNum:null, //需要替换的数据
    };
  },
  created() {
    this.fetchData();
  },
  mounted() {
    this.drawLine();
  },
  watch: {
    tableData(val) {
      //监听数据发生改变 刷新图表数据
      this.drawLine();
    }
  },
  methods: {
    //查询
    fetchData() {
      this.queryParam.startTime = this.tableQuery[0];
      this.queryParam.endTime = this.tableQuery[1];
      activityApi.activityCategory(this.queryParam).then(res => {
        this.tableData = res.data.data;
        this.huwaiNum = res.data.data.huwaiNum;
        this.jiaoyouNum = res.data.data.jiaoyouNum;
        this.hongpaNum = res.data.data.hongpaNum;
        this.yedianNum = res.data.data.yedianNum;
        // this.tableData [0]=this.huwaiNum;
        // this.tableData [1]=this.jiaoyouNum;
        // this.tableData [2]=this.hongpaNum;
        // this.tableData [3]=this.yedianNum;
      });
    },
    drawLine() {
      var huwaiNum = this.huwaiNum;
      var jiaoyouNum = this.jiaoyouNum;
      var hongpaNum = this.hongpaNum;
      var yedianNum = this.yedianNum;
      console.log(this.tableData)
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("myChart"));
      // 绘制图表
      myChart.setOption({
        title: { text: "活动类别参与统计" },
        tooltip: {},
        //右上角的工具箱
        toolbox: {
          x: "80%",
          y: "top",
          show: true,
          feature: {
            mark: { show: true },
            //是否可以保存图片
            saveAsImage: { show: true },
            //dataView : '数据视图',
            dataView: { show: true },
            magicType: {
              //动态类型切换
              type: ["bar", "line"]
            }
          }
        },
        // legend: {
        //   data: ["户外", "交友", "聚会", "夜店"]
        // },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "10%",
          containLabel: true
        },
        xAxis: {
          data: ["户外", "交友", "聚会", "夜店"],
        //   axisLabel: {
        //     rotate: 40
        //   }
        },

        yAxis: {
          name: "人数"
        },
        series: [
          {
            name: "",
            type: "bar", //柱状图
            data: [{value: huwaiNum, name: '户外'},
            {value: jiaoyouNum, name: '交友'},
            {value: hongpaNum, name: '聚会'},
            {value: yedianNum, name: '夜店'}],
            itemStyle: {
							normal: {
								label: {
									show: true, //开启显示
									position: 'top', //在上方显示
									textStyle: { //数值样式
										color: 'black',
										fontSize: 16
									}
								}
                            }
                        }
          }
        ]
      });
    },

    exportToExcel() {
      //excel数据导出
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        const tHeader = ["户外", "交友", "聚会", "夜店"];
        const filterVal = ["huwaiNum", "jiaoyouNum", "hongpaNum", "yedianNum"];
        const list = new Array();
       
          const element = { huwaiNum: null, jiaoyouNum: null, hongpaNum: null, yedianNum: null };
          element.huwaiNum = this.huwaiNum;
          element.jiaoyouNum = this.jiaoyouNum;
          element.hongpaNum = this.hongpaNum;
          element.yedianNum = this.yedianNum;
          list[0] = element;
        
        const data = this.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, "活动类别参与统计");
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    }
  },
  components: {}
};
</script>