<template>
  <div class="app-container">
    <!--查询  -->
    <el-row>
      <el-date-picker
        v-model="tableQuery"
        type="daterange"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
        value-format="yyyy-MM-dd"
      ></el-date-picker>
      <span style="margin-right: 15px;"></span>
      <el-tooltip class="item" content="搜索" placement="top">
        <el-button icon="el-icon-search" circle @click="fetchData()"></el-button>
      </el-tooltip>
    </el-row>
    <div style="margin-bottom: 30px;"></div>
    <el-button type="primary" icon="document" size="mini" @click="exportToExcel">导出Excel</el-button>
    <div style="margin-bottom: 30px;"></div>
    <div>
      <!-- <e-charts :options="chartOption"></e-charts> -->
      <div id="myChart" style="width: 800px;height: 600px;"></div>
    </div>
  </div>
</template>

<script>
import activityApi from "@/api/activity";
export default {
  data() {
    return {
      tableQuery: [],
      tableData: [],
      queryParam: {
        startTime: null,
        endTime: null
      },
      dataArr: [], //需要替换的数据
      toDayActivityNumList: [], //需要替换的数据
      toDayUserAppiyNumList: [] //需要替换的数据
    };
  },
  created() {
    this.fetchData();
  },
  mounted() {
    this.drawLine();
  },
  watch: {
    dataArr(val) {
      //监听数据发生改变 刷新图表数据
      this.drawLine();
    }
  },
  methods: {
    //查询
    fetchData() {
      this.queryParam.startTime = this.tableQuery[0];
      this.queryParam.endTime = this.tableQuery[1];
      activityApi.queryStatements(this.queryParam).then(res => {
        this.tableData = res.data.data;
        this.dataArr = res.data.data.daysStr;
        this.toDayActivityNumList = res.data.data.toDayActivityNumList;
        this.toDayUserAppiyNumList = res.data.data.toDayUserAppiyNumList;
      });
    },
    drawLine() {
      var odataArr = this.dataArr;
      var toDayActivityNumList = this.toDayActivityNumList;
      var toDayUserAppiyNumList = this.toDayUserAppiyNumList;
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("myChart"));
      // 绘制图表
      myChart.setOption({
        title: { text: "活动场次及人数统计" },
        tooltip: {},
        //右上角的工具箱
        toolbox: {
          x: "80%",
          y: "top",
          show: true,
          feature: {
            mark: { show: true },
            //是否可以保存图片
            saveAsImage: { show: true },
            //dataView : '数据视图',
            dataView: { show: true },
            magicType: {
              //动态类型切换
              type: ["bar", "line"]
            }
          }
        },
        legend: {
          data: ["今日成功场次", "今日活动报名人数"]
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "10%",
          containLabel: true
        },
        xAxis: {
          data: odataArr,
          axisLabel: {
            rotate: 40
          }
        },

        yAxis: {
          name: "数量"
        },
        series: [
          {
            name: "今日成功场次",
            type: "bar", //柱状图
            data: toDayActivityNumList,
            itemStyle: {
							normal: {
								label: {
									show: true, //开启显示
									position: 'top', //在上方显示
									textStyle: { //数值样式
										color: 'black',
										fontSize: 16
									}
								}
                            }
                        }
          },
          {
            name: "今日活动报名人数",
            type: "bar", //柱状图
            data: toDayUserAppiyNumList,
            itemStyle: {
							normal: {
								label: {
									show: true, //开启显示
									position: 'top', //在上方显示
									textStyle: { //数值样式
										color: 'black',
										fontSize: 16
									}
								}
                            }
                        }
          }
        ]
      });
    },

    exportToExcel() {
      //excel数据导出
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        const tHeader = ["日期", "今日成功场次", "今日活动报名人数"];
        const filterVal = ["date", "toDayVipNum", "vipNumCount"];
        const list = new Array();
        for (let index = 0; index < this.dataArr.length; index++) {
          const element = { date: null, toDayVipNum: null, vipNumCount: null };
          element.date = this.dataArr[index];
          element.toDayVipNum = this.toDayActivityNumList[index];
          element.vipNumCount = this.toDayUserAppiyNumList[index];
          list[index] = element;
        }
        const data = this.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, "活动场次及人数统计");
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    }
  },
  components: {}
};
</script>