<template>
  <div class="app-container">
   
    <div style="margin-bottom: 30px;"></div>
    <el-button type="primary" icon="document" size="mini" @click="exportToExcel">导出Excel</el-button>
    <div style="margin-bottom: 30px;"></div>
    <p>用户总量：{{male+female}}</p>
    <div>
      <!-- <e-charts :options="chartOption"></e-charts> -->
      <div id="myChart" style="width: 800px;height: 600px;"></div>
    </div>
  </div>
</template>

<script>
import orderInfoApi from "@/api/orderInfo";
export default {
  data() {
    return {
      tableQuery: [],
      tableData: [],
      
      male: null, //需要替换的数据
      female: null //需要替换的数据
    };
  },
  created() {
    this.fetchData();
  },
  mounted() {
    this.drawLine();
  },
  watch: {
    male(val) {
      //监听数据发生改变 刷新图表数据
      this.drawLine();
    }
  },
  methods: {
    //查询
    fetchData() {
      
      orderInfoApi.maleFemaleRatio().then(res => {
        this.tableData = res.data.data;
        this.male = res.data.data.male;
        this.female = res.data.data.female;
      });
    },
    drawLine() {
      var male = this.male;
      var female = this.female;
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("myChart"));
      // 绘制图表
      myChart.setOption({
        title: { text: "用户男女比例" },
        //右上角的工具箱
        toolbox: {
          x: "80%",
          y: "top",
          show: true,
          feature: {
            mark: { show: true },
            //是否可以保存图片
            saveAsImage: { show: true },
            //dataView : '数据视图',
            dataView: { show: true },
            // magicType: {
            //   //动态类型切换
            //   type: ["bar", "line"]
            // }
          }
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        color: ['#CD5C5C', '#00CED1', '#9ACD32', '#FFC0CB'],
        stillShowZeroSum: false,
        series: [
            {
                name: '用户男女比例',
                type: 'pie',
                radius: '80%',
                center: ['60%', '60%'],
                data: [
                    {value: male, name: '男'},
                    {value: female, name: '女'},
                   
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(128, 128, 128, 0.5)'
                    }
                },
                 normal:{ 
                        label:{ 
                            show: true, 
                            formatter: '{b} : {c} ({d}%)' 
                        }, 
                        labelLine :{show:true} 
                    } 
            }
        ]
      });
    },

    exportToExcel() {
      //excel数据导出
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        const tHeader = ["男", "女"];
        const filterVal = [ "male", "female"];
        const list = new Array();
       
          const element = {male: null, female: null };
          element.male = this.male;
          element.female = this.female;
          list[0] = element;
        
        const data = this.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, "用户男女比例");
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    }
  },
  components: {}
};
</script>