<template>
  <div class="app-container">
   
    <div style="margin-bottom: 30px;"></div>
    <el-button type="primary" icon="document" size="mini" @click="exportToExcel">导出Excel</el-button>
    <div style="margin-bottom: 30px;"></div>
    <div>
      <!-- <e-charts :options="chartOption"></e-charts> -->
      <div id="myChart" style="width: 800px;height: 600px;"></div>
    </div>
  </div>
</template>

<script>
import shopApi from "@/api/shop";
export default {
  data() {
    return {
      tableQuery: [],
      tableData: [],
     
      chaoyang:null, //需要替换的数据
      tongzhou:null, //需要替换的数据
      fengtai:null, //需要替换的数据
      dongcheng:null, //需要替换的数据
      shijingshan:null, //需要替换的数据
      changping:null, //需要替换的数据
      yanqing:null, //需要替换的数据
      fangshan:null, //需要替换的数据
      daxing:null, //需要替换的数据
      xichengqu:null, //需要替换的数据
      mentougou:null, //需要替换的数据
      shunyi:null, //需要替换的数据
      haidian:null, //需要替换的数据
    };
  },
  created() {
    this.fetchData();
  },
  mounted() {
    this.drawLine();
  },
  watch: {
    tableData(val) {
      //监听数据发生改变 刷新图表数据
      this.drawLine();
    }
  },
  methods: {
    //查询
    fetchData() {
      shopApi.shopDistribution().then(res => {
        this.tableData = res.data.data;
        this.chaoyang = res.data.data.chaoyang;
        this.tongzhou = res.data.data.tongzhou;
        this.fengtai = res.data.data.fengtai;
        this.dongcheng = res.data.data.dongcheng;
        this.shijingshan = res.data.data.shijingshan;
        this.changping = res.data.data.changping;
        this.yanqing = res.data.data.yanqing;
        this.fangshan = res.data.data.fangshan;
        this.daxing = res.data.data.daxing;
        this.xichengqu = res.data.data.xichengqu;
        this.mentougou = res.data.data.mentougou;
        this.shunyi = res.data.data.shunyi;
        this.haidian = res.data.data.haidian;
      });
    },
    drawLine() {
      var chaoyang = this.chaoyang;
      var tongzhou = this.tongzhou;
       var dongcheng = this.dongcheng;
      var fengtai = this.fengtai;
      var shijingshan = this.shijingshan;
        var changping = this.changping ;
        var yanqing = this.yanqing;
        var fangshan = this.fangshan;
        var daxing = this.daxing;
       var xichengqu =  this.xichengqu;
       var mentougou =  this.mentougou;
       var shunyi =  this.shunyi;
        var haidian = this.haidian;
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("myChart"));
      // 绘制图表
      myChart.setOption({
        title: { text: "商户地区分布统计" },
        tooltip: {},
        //右上角的工具箱
        toolbox: {
          x: "80%",
          y: "top",
          show: true,
          feature: {
            mark: { show: true },
            //是否可以保存图片
            saveAsImage: { show: true },
            //dataView : '数据视图',
            dataView: { show: true },
           
          }
        },
        
        grid: {
          left: "3%",
          right: "4%",
          bottom: "10%",
          containLabel: true
        },
        xAxis: {
          data: ["朝阳区", "通州区", "丰台区", "东城区", "石景山区", "昌平区", "延庆区", "房山区", "大兴区", "西城区", "门头沟区", "顺义区", "海淀区"],
          axisLabel: {
            rotate: 40
          }
        },

        yAxis: {
          name: "个数"
        },
        series: [
          {
            name: "",
            type: "bar", //柱状图
            data: [{value: chaoyang, name: '朝阳区'},
            {value: tongzhou, name: '通州区'},
            {value: fengtai, name: '丰台区'},
            {value: dongcheng, name: '东城区'},
            {value: shijingshan, name: '石景山区'},
            {value: changping, name: '昌平区'},
            {value: yanqing, name: '延庆区'},
            {value: fangshan, name: '房山区'},
            {value: daxing, name: '大兴区'},
            {value: xichengqu, name: '西城区'},
            {value: mentougou, name: '门头沟区'},
            {value: shunyi, name: '顺义区'},
            {value: haidian, name: '海淀区'}],
            itemStyle: {
							normal: {
								label: {
									show: true, //开启显示
									position: 'top', //在上方显示
									textStyle: { //数值样式
										color: 'black',
										fontSize: 16
									}
								}
                            }
                        }
          }
        ]
      });
    },

    exportToExcel() {
      //excel数据导出
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        const tHeader =  ["朝阳区", "通州区", "丰台区", "东城区", "石景山区", "昌平区", "延庆区", "房山区", "大兴区", "西城区", "门头沟区", "顺义区", "海淀区"];
        const filterVal = ["chaoyang", "tongzhou", "fengtai", "dongcheng", "shijingshan", "changping", "yanqing", "fangshan", "daxing", "xichengqu", "mentougou", "shunyi", "haidian"];
        const list = new Array();
       
          const element = { chaoyang: null, tongzhou: null, fengtai: null, dongcheng: null, shijingshan: null, changping: null, yanqing: null, fangshan: null, daxing: null, xichengqu: null, mentougou: null, shunyi: null, haidian: null };
          element.chaoyang = this.chaoyang;
          element.tongzhou = this.tongzhou;
          element.fengtai = this.fengtai;
          element.dongcheng = this.dongcheng;
          element.shijingshan = this.shijingshan;
          element.changping = this.changping;
          element.yanqing = this.yanqing;
          element.fangshan = this.fangshan;
          element.daxing = this.daxing;
          element.xichengqu = this.xichengqu;
          element.mentougou = this.mentougou;
          element.shunyi = this.shunyi;
          element.haidian = this.haidian;
          list[0] = element;
        
        const data = this.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, "商户地区分布统计");
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    }
  },
  components: {}
};
</script>