<template>
  <div class="app-container">
    <!--查询  -->
    <el-row>
      <el-input style="width:200px;" v-model="tableQuery.title" placeholder="文章标题"></el-input>
      <span style="margin-right: 15px;"></span>
      <el-tooltip class="item" content="搜索" placement="top" >
        <el-button icon="el-icon-search" circle @click="fetchData(1)" v-perm="'b:indexessay:query'"></el-button>
      </el-tooltip>
    </el-row>
    <div style="margin-bottom: 30px;"></div>
    <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleCreate" v-perm="'b:indexessay:add'">{{textMap.create}}</el-button>
    <div style="margin-bottom: 30px;"></div>
    <!--列表-->
    <el-table style="width: 100%"
              :data="tableData"
              v-loading.body="tableLoading"
              element-loading-text="加载中"
              border fit highlight-current-row>
      <el-table-column prop="id" label="文章id" width="180"></el-table-column>
      <el-table-column   prop="essayPhotoUrl" label="文章封面图片" width="180">
        <template   slot-scope="scope"> 
        <img :src="scope.row.essayPhotoUrl" width="150"/>
        </template>
      </el-table-column>
      <el-table-column prop="essayUrl" label="文章详情链接">
          <template   slot-scope="scope"> 
        <a :href="scope.row.essayUrl" target="_blank">{{scope.row.essayUrl}}</a>
        </template>
      </el-table-column>
      <el-table-column prop="title" label="文章标题" width="180"></el-table-column>
      <el-table-column prop="street" label="文章所在地街道" width="180"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <!-- <el-tooltip content="查看" placement="top">
            <el-button @click="handleView(scope.$index,scope.row)" size="medium" type="info" icon="el-icon-edit" circle plain></el-button>
          </el-tooltip> -->
          <el-tooltip content="编辑" placement="top" v-if="!hasAdminRole(scope.row)">
            <el-button @click="handleUpdate(scope.$index,scope.row)" size="medium" type="warning" icon="el-icon-star-off" circle plain></el-button>
          </el-tooltip>
          <el-tooltip content="删除" placement="top" v-if="!hasAdminRole(scope.row)">
            <el-button @click="handleDelete(scope.$index,scope.row)" size="medium" type="danger" icon="el-icon-delete" circle plain></el-button>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-bottom: 30px;"></div>
    <!--分页-->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="tablePage.current"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="tablePage.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tablePage.total">
    </el-pagination>
    <!--弹出窗口：新增/编辑首页文章-->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" width="40%" v-dialogDrag center>
      
      <el-form :rules="rules" ref="dataForm" :model="temp" label-position="left" label-width="120px">
        <el-tabs v-model="activeName" type="border-card">
          <el-tab-pane label="国内文章" name="china">

              <el-form-item label="文章封面图片" prop="essayPhotoUrl">
                <el-upload ref="upload" action="" :http-request="handleFile" :on-change="essayPhoto_file" :multiple="false" :limit="1" 
                :file-list="essayPhoto" accept="image/jpeg,image/gif,image/png,image/bmp" :before-upload="beforeAvatarUpload">
                  <el-button size="small" type="primary" @click="clearUploadedImage()">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                </el-upload>
              </el-form-item>

              <el-form-item label="文章详情链接" prop="essayUrl">
                <el-input v-model="temp.essayUrl"></el-input>
              </el-form-item>

              <el-form-item label="文章标题" prop="title">
                <el-input v-model="temp.title"></el-input>
              </el-form-item>
        <el-form-item label="省市区" >
          <el-select v-model="temp.province" style="width:120px;"  @change="updateCity();updateDistrict();">
		        <el-option v-for="option in arr" :value="option.name" :key="option.name">
		      	  {{ option.name }}
		        </el-option>
	        </el-select>
	        <el-select v-model="temp.city" style="width:120px;" @change="updateDistrict">
		        <el-option v-for="option in cityArr" :value="option.name" :key="option.name">
			        {{ option.name }}
		        </el-option>
	        </el-select>
	        <el-select v-model="temp.area" v-if="temp.area" style="width:120px;">
		        <el-option v-for="option in districtArr" :value="option.name" :key="option.name">
			        {{ option.name }}
		        </el-option>
	        </el-select>
        </el-form-item>

        <el-form-item label="街道" prop="street">
          <el-input v-model="temp.street"></el-input>
        </el-form-item>

        <el-form-item label="附近商圈(注：最多选三个)" prop="essayLable">
          <!-- <el-checkbox-group v-model="checkList" :change="changeCity">
            <el-checkbox v-for="city in citys" :label="city" :key="city" :value="city"></el-checkbox>
          </el-checkbox-group> -->
          <el-select v-model="checkList" multiple placeholder="请选择" @change="changeCity">
            <el-option
              v-for="city in citys"
              :key="city"
              :label="city"
              :value="city">
            </el-option>
          </el-select>
        </el-form-item>
          </el-tab-pane>

          <el-tab-pane label="国外文章" name="foreign">
              <el-form-item label="文章封面图片" prop="essayPhotoUrl">
                <el-upload ref="upload" action="" :http-request="handleFile" :on-change="essayPhoto_file" :multiple="false" :limit="1" 
                :file-list="essayPhoto" accept="image/jpeg,image/gif,image/png,image/bmp" :before-upload="beforeAvatarUpload">
                  <el-button size="small" type="primary" @click="clearUploadedImage()">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                </el-upload>
              </el-form-item>

        <el-form-item label="文章详情链接" prop="essayUrl">
          <el-input v-model="temp.essayUrl"></el-input>
        </el-form-item>

        <el-form-item label="文章标题" prop="title">
          <el-input v-model="temp.title"></el-input>
        </el-form-item>

        <el-form-item label="地址" prop="city">
          <el-input v-model="temp.city"></el-input>
        </el-form-item>

        <el-form-item label="街道" prop="street">
          <el-input v-model="temp.street"></el-input>
        </el-form-item>

        <el-form-item label="附近商圈(注：多个商圈以;分隔)" prop="essayLable">
          <el-select v-model="checkList" multiple placeholder="请选择" @change="changeCity">
            <el-option
              v-for="city in citys"
              :key="city"
              :label="city"
              :value="city">
            </el-option>
          </el-select>
          
        </el-form-item>

          </el-tab-pane>
        </el-tabs>
        
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false;clearUploadedImage ()">取消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="createData();clearUploadedImage()">创建</el-button>
        <el-button v-else type="primary" @click="updateData();clearUploadedImage ()">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

  import cityTableApi from '@/api/cityTable'
  import indexessayApi from '@/api/indexessay'
  import {parseTime, resetTemp} from '@/utils'
  import {root,confirm,pageParamNames} from '@/utils/constants'
  import debounce from 'lodash/debounce'
  import { getToken } from '@/utils/auth'
  import { arrAll } from '@/utils/map'
  import axios from 'axios'
  import store from '@/store'

  export default {
    name: 'IndexessayManage',
    data() {

      let validateEssayUrl = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('必填'));
        } else {
          callback();
        }
      };

      let validateTitle = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('必填'));
        } else {
          callback();
        }
      };
      let validateStreet = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('必填'));
        } else {
          callback();
        }
      };

      return {
        activeName: 'china',
        arr: arrAll,
        cityArr: [],
        districtArr: [],
        tableLoading: false,
        tableData: [],
        tableQuery: {
          title: null
        },
        tablePage: {
          current: null,
          pages: null,
          size: null,
          total: null
        },
        dialogFormVisible: false,
        dialogStatus: '',
        temp: {
          idx: null, //tableData中的下标
          id: null,
          essayPhotoUrl: null,
          essayUrl: null,
          title: null,
          country:null,
          province:'北京',
          city:'北京',
          area:'东城区',
          street:null,
          essayLable:null,

        },
        textMap: {
          update: '编辑首页文章',
          create: '新增首页文章'
        },
        rules: {
          essayUrl: [{validator: validateEssayUrl, trigger: 'blur'}],
          title: [{validator: validateTitle, trigger: 'blur'}],
          street: [{validator: validateStreet, trigger: 'blur'}]
        },
        essayPhoto:[],
        citys:[],
        checkList: [],
      }

    },

    created() {
       this.initData()
      this.fetchData();
    },
    beforeMount: function () {
      this.updateCity();
      this.updateDistrict();
    },
    watch: {
      //延时查询
      'tableQuery.title': debounce(function () {
        this.fetchData()
      }, 500),
      // 'temp.province': function () {
      //   this.updateCity();
      //   this.updateDistrict();
      // }, 
      // 'temp.city': function () {
      //  this.updateDistrict();
      // }, 
    },//watch

    methods: {

      handleFile () { },
      clearUploadedImage () {
        this.$refs.upload.clearFiles();
        this.essayPhoto = [];
    },
      essayPhoto_file (file, fileList) {
      // 文章封面图片 on-change 事件
      this.essayPhoto = fileList;
    },
     beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isGIF = file.type === 'image/gif';
        const isPNG = file.type === 'image/png';
        const isBMP = file.type === 'image/bmp';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG && !isGIF && !isPNG && !isBMP) {
          this.$message.error('上传图片必须是JPG/GIF/PNG/BMP 格式!');
        }
        if (!isLt2M) {
          this.$message.error('上传图片大小不能超过 2MB!');
        }
        return (isJPG || isBMP || isGIF || isPNG) && isLt2M;
      },
      hasAdminRole(row){
        if(row){
          return row && row.rval==root.rval
        }
        return false
      },
      initData(){
        cityTableApi.selectSunCity().then(res => {
           this.citys = res.data.data;
        })
      },

      //分页
      handleSizeChange(val) {
        this.tablePage.size = val;
        this.fetchData();
      },
      handleCurrentChange(val) {
        this.tablePage.current = val;
        this.fetchData();
      },

      //查询
      fetchData(current) {
        if(current){
          this.tablePage.current = current
        }
        this.tableLoading = true
        indexessayApi.queryIndexEssay(this.tableQuery, this.tablePage).then(res => {
          this.tableData = res.data.data.data
          this.tableLoading = false
          pageParamNames.forEach(name => this.$set(this.tablePage, name, res.data.data[name]))
        })
      },
      handleView(idx,row) {
      },
      //更新
      handleUpdate(idx, row) {
        this.temp = Object.assign({}, row)
        if(this.temp.province==null){
          this.temp.province='北京';
          this.temp.city='北京';
          this.temp.area='东城区';
        }
         for (var i in this.arr) {
          var obj = this.arr[i];
          if (obj.name == this.temp.province) {
            this.cityArr = obj.sub;
            break;
          }
        }
         for (var i in this.cityArr) {
          var obj = this.cityArr[i];
          if (obj.name == this.temp.city) {
            this.districtArr = obj.sub;
            break;
          }
        }
         if(this.temp.essayLable!=null&&this.temp.essayLable!=""){
            this.checkList=this.temp.essayLable.split(';');
          }
        this.temp.idx = idx
        this.dialogStatus = 'update'
        if(this.temp.country=="中国"){
          this.activeName="china";
        }else{
          this.activeName="foreign";
        }
        
        this.dialogFormVisible = true
        this.$nextTick(() => this.$refs['dataForm'].clearValidate())
      },
      updateData() {
        this.$refs['dataForm'].validate((valid) => {
          if (!valid) return
          let formData = new FormData();
            //表单的数据
            formData.append('id', this.temp.id);
            formData.append('title', this.temp.title)
            formData.append('essayUrl', this.temp.essayUrl);
            let citys=this.checkList.join(';');
            if(this.activeName=="china"){
              formData.append('country', "中国");
              formData.append('province', this.temp.province);
              formData.append('city', this.temp.city);
              formData.append('area', this.temp.area);
              formData.append('essayLable', citys);
            }else{
              formData.append('city',  this.temp.city);
              formData.append('essayLable', citys);
            }
            formData.append('street', this.temp.street);
            formData.append('file', this.essayPhoto[0] ? this.essayPhoto[0].raw : '')
            var url='/indexessay/update';
            if( this.essayPhoto.length>0){
              url='/indexessay/update';
            }else{
              url='/indexessay/updateIndexEssay';
            }
            let config = {
              headers: {
              'Content-Type': 'multipart/form-data'
              }
            };
            if (store.getters.token) {
              config.headers['authorization'] = getToken() // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
            }
          axios.defaults.withCredentials = true 
          axios.post(process.env.BASE_API + url, formData, config, {withCredentials: true}).then(res => {
             console.log(res.data)
             this.dialogFormVisible = false
             if(res.data.code==1000){
             this.$message.success("首页文章修改成功")
             window.location.reload();
             }else{
                this.$message.error("首页文章修改失败")
             }
           });
        })
      },
      //删除
      handleDelete(idx, row) {
        this.$confirm('您确定要永久删除该文章？', '提示', confirm).then(() => {
          indexessayApi.deleteIndexEssay({id: row.id}).then(res => {
            this.tableData.splice(idx, 1)
            --this.tablePage.total
            this.dialogFormVisible = false
            this.$message.success("删除成功")
            window.location.reload();
          })
        }).catch(() => {
          this.$message.info("已取消删除")
        });

      },

      //新增
      handleCreate() {
        resetTemp(this.temp)
        this.dialogStatus = 'create'
        this.dialogFormVisible = true
        if(this.temp.province==null){
          this.temp.province='北京';
          this.temp.city='北京';
          this.temp.area='东城区';
        }
        this.checkList=[];
        this.$nextTick(() => {
          this.$refs['dataForm'].clearValidate()
        })
      },
      createData() {
        this.$refs['dataForm'].validate((valid) => {
          if (!valid) return;
         let formData = new FormData();
            //表单的数据
            formData.append('title', this.temp.title)
            formData.append('essayUrl', this.temp.essayUrl);
            let citys=this.checkList.join(';');
            if(this.activeName=="china"){
              
              formData.append('country', "中国");
              formData.append('province', this.temp.province);
              formData.append('city', this.temp.city);
              formData.append('area', this.temp.area);
              formData.append('essayLable', citys);
            }else{
              formData.append('city',  this.temp.city);
              formData.append('essayLable', citys);
            }
            formData.append('street', this.temp.street);
            formData.append('file', this.essayPhoto[0] ? this.essayPhoto[0].raw : '')
            var url='/indexessay/add';
            let config = {
              headers: {
              'Content-Type': 'multipart/form-data'
              }
            };
            if (store.getters.token) {
              config.headers['authorization'] = getToken() // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
            }
          axios.defaults.withCredentials = true 
          axios.post(process.env.BASE_API + url, formData, config, {withCredentials: true}).then(res => {
             console.log(res.data)
             this.dialogFormVisible = false
             if(res.data.code==1000){
             this.$message.success("首页文章添加成功")
            window.location.reload();
            //  window.location.reload();
             }else{
                this.$message.error("首页文章添加失败")
             }
           });
        })
      },

      updateCity: function () {
        for (var i in this.arr) {
          var obj = this.arr[i];
          if (obj.name == this.temp.province) {
            this.cityArr = obj.sub;
            break;
          }
        }
        this.temp.city = this.cityArr[1].name;
      },
      updateDistrict: function () {
        for (var i in this.cityArr) {
          var obj = this.cityArr[i];
          if (obj.name == this.temp.city) {
            this.districtArr = obj.sub;
            break;
          }
        }
        if(this.districtArr && this.districtArr.length > 0 && this.districtArr[1].name) {
          this.temp.area = this.districtArr[1].name;
        } else {
          this.temp.area = '';
        }
      },
      changeCity:function(){
        if(this.checkList.length>3){
          this.$message.info("商圈最多选三项");
          this.checkList=this.checkList.slice(0,3);

        }
      },

    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .role-checkbox{
    margin-left: 0px;
    margin-right: 15px;
  }
  a:hover {
    color: blue;
}
</style>
