<template>
  <div class="app-container">
    <!--查询  -->
    <el-row>
            <el-input style="width:200px;" v-model="tableQuery.userName" placeholder="姓名"></el-input>
            <span style="margin-right: 15px;"></span>
            <el-tooltip class="item" content="搜索" placement="top">
                <el-button icon="el-icon-search" circle @click="fetchData(1)"></el-button>
            </el-tooltip>
        </el-row>
    <div style="margin-bottom: 30px;"></div>
    <!-- <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleCreate" v-perm="'b:userApply:add'">{{textMap.create}}</el-button> -->
    <div style="margin-bottom: 30px;"></div>
    <!--列表-->
    <el-table style="width: 100%"
              :data="tableData"
              v-loading.body="tableLoading"
              element-loading-text="加载中"
              border fit highlight-current-row>
      <el-table-column prop="id" label="活动报名id" width="300"></el-table-column>
      <el-table-column   prop="userName" label="姓名" ></el-table-column>
      <el-table-column prop="userPhone" label="手机号"></el-table-column>
      <el-table-column prop="userMail" label="邮箱" width="200"></el-table-column>
      <el-table-column prop="leaveMsg" label="活动留言"></el-table-column>
      <el-table-column prop="isRefund" label="是否允许退款" width="80">
          <template  slot-scope="scope" > 
            <el-tag
            :type="scope.row.isRefund == '0' ? 'success' : 'danger'"
            disable-transitions>{{scope.row.isRefund == '0' ? '允许' : '不允许'}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="180">
        <template slot-scope="scope">
          <el-tooltip content="审核" placement="top" v-if="!hasAdminRole(scope.row)">
            <el-button @click="handleCheck(scope.$index,scope.row)" size="medium" type="warning" icon="el-icon-star-off" circle plain></el-button>
          </el-tooltip>
         
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-bottom: 30px;"></div>
    <!--分页-->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="tablePage.current"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="tablePage.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tablePage.total">
    </el-pagination>
    

    <!--弹出窗口：是否允许退款-->
    <el-dialog title="活动报名是否允许退款" :visible.sync="checkUserApplyDialogVisible" width="30%" v-dialogDrag center>
      <div slot="footer" class="dialog-footer">
        <el-button @click="checkUserApplyDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="checkUserApply(0)">允许退款</el-button>
        <el-button type="danger" @click="checkUserApply(1)">不允许退款</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

  import userApplyApi from '@/api/userApply'
  import {root,confirm,pageParamNames} from '@/utils/constants'
  import debounce from 'lodash/debounce'

  export default {
    name: 'UserApplyManage',
    data() {
      return {
        tableLoading: false,
        tableData: [],
        tableQuery:{
          userName: null,
        },
        tablePage: {
          current: null,
          pages: null,
          size: null,
          total: null
        },
        checkUserApplyDialogVisible: false,
        temp: {
          idx: null, //tableData中的下标
          id: null,
          ApplyId: null,
          applyUserId: null,
          applyStatus: null,
          leaveMsg:null,
          userName:null,
          userPhone:null,
          userMail:null,
          userGender:null,
          userAge:null,
          createdTime:null,
          updateTime:null,
          money:null,
          userOrder:null,
          isRefund:null
        },
        
      }

    },

    created() {
      this.fetchData()
    },
     watch:{
      //延时查询
      'tableQuery.userName': debounce( function(){
        this.fetchData()
      },500),
    },
    methods: {
    
      hasAdminRole(row){
        if(row){
          return row && row.rval==root.rval
        }
        return false
      },

      //分页
      handleSizeChange(val) {
        this.tablePage.size = val;
        this.fetchData();
      },
      handleCurrentChange(val) {
        this.tablePage.current = val;
        this.fetchData();
      },

      //查询
      fetchData(current) {
        if(current){
          this.tablePage.current = current
        }
        this.tableLoading = true
        userApplyApi.queryUserApply(this.tableQuery,this.tablePage).then(res => {
          this.tableData = res.data.data.data
          this.tableLoading = false
          pageParamNames.forEach(name => this.$set(this.tablePage, name, res.data.data[name]))
        })
         
      },
      handleView(idx,row) {
      },
      handleCheck(idx,row) {
        this.temp = Object.assign({}, row) // copy obj
        this.checkUserApplyDialogVisible = true
      },
      checkUserApply(isRefund){
        userApplyApi.updateIsRefund( {id : this.temp.id,isRefund:isRefund} ).then(res => {
           
             if(isRefund=='0'){
              this.$message.success('该条报名信息允许退还押金。')
            }else{
              this.$message.warning('该条报名信息不允许退还押金！！！')
            }
             window.location.reload();
          })
      },
     
    
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .role-checkbox{
    margin-left: 0px;
    margin-right: 15px;
  }
  a:hover {
    color: blue;
}
</style>
