<template>
    <div class="app-container">
        <!--查询-->
        <el-row>
            <el-input style="width:200px;" v-model="tableQuery.title" placeholder="攻略标题"></el-input>
            <span style="margin-right: 15px;"></span>
            <el-tooltip class="item" content="搜索" placement="top">
                <el-button icon="el-icon-search" circle @click="fetchData(1)"></el-button>
            </el-tooltip>
        </el-row>
         <div style="margin-bottom: 30px;"></div>
         <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleCreate">{{textMap.create}}</el-button>
        <div style="margin-bottom: 30px;"></div>
    <!--列表-->
     <el-table style="width: 100%"
              :data="tableData"
              v-loading.body="tableLoading"
              element-loading-text="Loading"
              border fit highlight-current-row>
      <el-table-column prop="id" label="攻略id" ></el-table-column>
      <el-table-column prop="title" label="攻略标题" ></el-table-column>
      <el-table-column prop="street" label="街道" ></el-table-column>
      <el-table-column prop="indexPhotoUrl"  label="攻略封面" width="170">
        <template  slot-scope="scope" > 
            <img :src="scope.row.indexPhotoUrl" width="150"/>
        </template>
      </el-table-column>
     
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-tooltip content="查看" placement="top">
            <el-button @click="handleView(scope.$index,scope.row)" size="medium" type="warning" icon="el-icon-view" circle plain></el-button>
          </el-tooltip>
          <el-tooltip content="编辑" placement="top" v-if="!hasRole(scope.row)">
            <el-button @click="handleUpdate(scope.$index,scope.row)" size="medium" type="info" icon="el-icon-edit" circle plain></el-button>
          </el-tooltip>
          <el-tooltip content="删除" placement="top" v-if="!hasRole(scope.row)">
            <el-button @click="handleDelete(scope.$index,scope.row)" size="medium" type="danger" icon="el-icon-delete" circle plain></el-button>
          </el-tooltip>
          
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-bottom: 30px;"></div>
    <!--分页-->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="tablePage.current"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="tablePage.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tablePage.total">
    </el-pagination>
    
    </div>
</template>
<script>
  import travelGuideApi from '@/api/travelGuide'
  import { pageParamNames, confirm, root } from '@/utils/constants'
  import debounce from 'lodash/debounce'

export default {
      name: 'TravelGuideManage',
    data() {
      return {
        tableLoading:false,
        tableData: [],
        tableQuery:{
          title: null
        },
        tablePage: {
          current: null,
          pages: null,
          size:null,
          total: null
        },
        dialogFormVisible: false,
        temp: {
          idx: null,//表格的下标
          id: null,
          indexPhotoUrl: null,
          bannerUrl: null,
          detailUrl: null,
          country: null,
          province: null,
          city: null,
          area: null,
          street: null,
          guideLable: null,
          content: null,
          title: null
        },
        textMap: {
          update: '编辑攻略',
          create: '新增攻略'
        },
        rules: {
          title: [{ required: true, message: '必填', trigger: 'blur' }],
          content: [{ required: true, message: '必填', trigger: 'blur' }]
        },
      }
    },
    created(){
      this.fetchData()
    },
     watch:{
      //延时查询
      'tableQuery.title': debounce( function(){
        this.fetchData()
      },500),
    },//watch
  methods: {
      hasRole(row){
        return row && row.rval==root.rval
      },
      //分页
      handleSizeChange(val) {
        this.tablePage.size = val;
        this.fetchData();
      },
      handleCurrentChange(val) {
        this.tablePage.current = val;
        this.fetchData();
      },
      //查询
      fetchData() {
        this.tableLoading = true
        travelGuideApi.queryTravelGuide(this.tableQuery,this.tablePage).then(res => {
          this.tableData = res.data.data.data
          this.tableLoading = false
          //设置后台返回的分页参数
          pageParamNames.forEach(name=>this.$set(this.tablePage,name,res.data.data[name]))
        })
      },

      //更新
      handleUpdate(idx,row) {
       this.$router.push({name:'updateTravelGuide',params:{id:row.id}});
      },
      //删除
      handleDelete(idx,row) {
        let massge="您确定要删除该攻略？";
        
        this.$confirm(massge, '提示', confirm).then(() => {
          travelGuideApi.deleteTravelGuide( {id : row.id} ).then(res => {
             if(res.data.code==1000){
              this.$message.success('攻略删除成功');
            }else{
              this.$message.error('攻略删除失败');
            }
             window.location.reload();
          })
        }).catch(() => {
          this.$message.info('已取消删除操作')
        })
      },

      //新增
      handleCreate() {
       this.$router.push({path:'/travelGuide/addTravelGuide'});
      },
      //查看攻略详细信息
      handleView(idx,row) {
      this.$router.push({name:'selectTravelGuide',params:{id:row.id}});
      },
      
    }
}
</script>

