<template>
  <div class="app-container">
    <el-tabs v-model="activeName" type="border-card">
      <el-tab-pane label="国内攻略" name="china" disabled>
        <el-form
          class="detail-form"
          autocomplete="on"
          :model="travelGuideForm"
          :rules="travelGuideRules"
          ref="travelGuideForm"
          label-position="left"
          label-width="150px"
        >
          <div>
            <h3>修改攻略信息</h3>
          </div>
          <el-row>
            <el-col :span="12">
              <el-input style="display:none;" name="id" type="text" v-model="travelGuideForm.id" />
              <el-form-item prop="title" label="攻略标题">
                <el-input
                  style="width:250px;"
                  name="title"
                  type="text"
                  v-model="travelGuideForm.title"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item prop="indexPhotoUrl" label="攻略封面">
                <el-upload
                  ref="upload"
                  action
                  :http-request="handleFile"
                  :on-change="indexPhoto_file"
                  :multiple="false"
                  :limit="1"
                  :file-list="indexPhoto"
                  accept="image/jpeg, image/gif, image/png, image/bmp"
                  :before-upload="beforeAvatarUpload"
                >
                  <el-button size="small" type="primary" @click="clearUploadedImage('upload')">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                </el-upload>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item prop="content" label="内容">
                <!-- 引入富文本编辑器 -->
                <!-- v-if="flag" v-model="travelGuideForm.content"-->
                <quill-editor @change-content="listenToChild" :quillData="travelGuideForm.content"></quill-editor>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item prop="bannerUrl" label="详情页轮播图">
                <el-upload
                  ref="upload1"
                  action
                  :http-request="handleFile"
                  :on-change="banner_file"
                  :multiple="true"
                  :file-list="banner"
                  accept="image/jpeg, image/gif, image/png, image/bmp"
                  :before-upload="beforeAvatarUpload"
                >
                  <el-button size="small" type="primary" @click="clearUploadedImage('upload1')">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                </el-upload>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item prop="detailUrl" label="详情图片">
                <el-upload
                  ref="upload2"
                  action
                  :http-request="handleFile"
                  :on-change="detail_file"
                  :multiple="true"
                  :file-list="detail"
                  accept="image/jpeg, image/gif, image/png, image/bmp"
                  :before-upload="beforeAvatarUpload"
                >
                  <el-button size="small" type="primary" @click="clearUploadedImage('upload2')">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                </el-upload>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item label="省市区">
                <el-select
                  v-model="travelGuideForm.province"
                  style="width:120px;"
                  @change="updateCity();updateDistrict();"
                >
                  <el-option
                    v-for="option in arr"
                    :value="option.name"
                    :key="option.name"
                  >{{ option.name }}</el-option>
                </el-select>
                <el-select
                  v-model="travelGuideForm.city"
                  style="width:120px;"
                  @change="updateDistrict"
                >
                  <el-option
                    v-for="option in cityArr"
                    :value="option.name"
                    :key="option.name"
                  >{{ option.name }}</el-option>
                </el-select>
                <el-select
                  v-model="travelGuideForm.area"
                  v-if="travelGuideForm.area"
                  style="width:120px;"
                >
                  <el-option
                    v-for="option in districtArr"
                    :value="option.name"
                    :key="option.name"
                  >{{ option.name }}</el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item prop="street" label="街道">
                <el-input
                  style="width:250px;"
                  name="street"
                  type="text"
                  v-model="travelGuideForm.street"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="附近商圈(注：最多选三个)" prop="guideLable">
                <el-select v-model="checkList" multiple placeholder="请选择" @change="changeCity">
                  <el-option v-for="city in citys" :key="city" :label="city" :value="city"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <div class="dialog-footer" style="float:right;margin-right: 212px;">
            <el-button @click="colseForm">取消</el-button>
            <el-button @click="updateTravelGuide" :disabled="isDisabled">修改</el-button>
          </div>
        </el-form>
      </el-tab-pane>

      <el-tab-pane label="国外攻略" name="foreign" disabled>
        <el-form
          class="detail-form"
          autocomplete="on"
          :model="travelGuideFormForeign"
          :rules="travelGuideRules"
          ref="travelGuideFormForeign"
          label-position="left"
          label-width="150px"
        >
          <div>
            <h3>添加攻略</h3>
          </div>
          <el-row>
            <el-col :span="12">
              <el-input
                style="display:none;"
                name="id"
                type="text"
                v-model="travelGuideFormForeign.id"
              />
              <el-form-item prop="title" label="攻略标题">
                <el-input
                  style="width:250px;"
                  name="title"
                  type="text"
                  v-model="travelGuideFormForeign.title"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item prop="indexPhotoUrl" label="攻略封面">
                <el-upload
                  ref="upload"
                  action
                  :http-request="handleFile"
                  :on-change="indexPhoto_file"
                  :multiple="false"
                  :limit="1"
                  :file-list="indexPhoto"
                  accept="image/jpeg, image/gif, image/png, image/bmp"
                  :before-upload="beforeAvatarUpload"
                >
                  <el-button size="small" type="primary" @click="clearUploadedImage('upload')">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                </el-upload>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item prop="content" label="内容">
                <!-- 引入富文本编辑器 -->
                <!-- v-if="flag" -->
                <quill-editor
                  @change-content="listenToChildForeign"
                  :quillData="travelGuideFormForeign.content"
                ></quill-editor>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item prop="bannerUrl" label="详情页轮播图">
                <el-upload
                  ref="upload1"
                  action
                  :http-request="handleFile"
                  :on-change="banner_file"
                  :multiple="true"
                  :file-list="banner"
                  accept="image/jpeg, image/gif, image/png, image/bmp"
                  :before-upload="beforeAvatarUpload"
                >
                  <el-button size="small" type="primary" @click="clearUploadedImage('upload1')">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                </el-upload>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item prop="detailUrl" label="详情图片">
                <el-upload
                  ref="upload2"
                  action
                  :http-request="handleFile"
                  :on-change="detail_file"
                  :multiple="true"
                  :file-list="detail"
                  accept="image/jpeg, image/gif, image/png, image/bmp"
                  :before-upload="beforeAvatarUpload"
                >
                  <el-button size="small" type="primary" @click="clearUploadedImage('upload2')">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                </el-upload>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item label="地址" prop="city">
                <el-input style="width:250px;" v-model="travelGuideFormForeign.city"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item prop="street" label="街道">
                <el-input
                  style="width:250px;"
                  name="street"
                  type="text"
                  v-model="travelGuideFormForeign.street"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="附近商圈(注：最多选三个)" prop="guideLable">
                <el-select v-model="checkList" multiple placeholder="请选择" @change="changeCity">
                  <el-option v-for="city in citys" :key="city" :label="city" :value="city"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>

          <div class="dialog-footer" style="float:right;margin-right: 212px;">
            <el-button @click="colseForm">取消</el-button>
            <el-button @click="updateTravelGuide" :disabled="isDisabled">保存</el-button>
          </div>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import travelGuideApi from "@/api/travelGuide";
import cityTableApi from "@/api/cityTable";
import store from "@/store";
import { getToken } from "@/utils/auth";
import axios from "axios";
import { arrAll } from "@/utils/map";
import quillEditor from "../../components/QuillEditor/quillEditor.vue"; //这里根据自己组件所放位置配置

export default {
  name: "updateTravelGuide",
  data() {
    return {
      activeName: "china",
      arr: arrAll,
      cityArr: [],
      districtArr: [],
      travelGuideForm: {
        indexPhotoUrl: null,
        bannerUrl: null,
        detailUrl: null,
        country: null,
        province: "北京",
        city: "北京",
        area: "东城区",
        street: null,
        guideLable: null,
        content: null,
        title: null
      },
      travelGuideFormForeign: {
        indexPhotoUrl: null,
        bannerUrl: null,
        detailUrl: null,
        country: null,
        province: null,
        city: null,
        area: null,
        street: null,
        guideLable: null,
        content: null,
        title: null
      },
      indexPhoto: [],
      banner: [],
      detail: [],
      travelGuideRules: {
        title: [{ required: true, trigger: "blur", message: "必填" }],
        content: [{ required: true, trigger: "blur", message: "必填" }],
        street: [{ required: true, trigger: "blur", message: "必填" }]
      },
      isDisabled: false,
      citys: [],
      checkList: []
    };
  },
  created() {
    this.initData();
  },
  components: {
    quillEditor
  },
  methods: {
    initData() {
      //格式化攻略表单
      let id = this.$route.params.id;
      if (!id) id = 1;
      travelGuideApi.selectTravelGuide(id).then(res => {
        if (res.data.code == 1000) {
          if (res.data.data.country == "中国") {
            this.activeName = "china";
            this.travelGuideForm = res.data.data;
            this.travelGuideForm.content= this.escapeStringHTML(res.data.data.contentStr);
            if (this.travelGuideForm.province == null) {
              this.travelGuideForm.province = "北京";
              this.travelGuideForm.city = "北京";
              this.travelGuideForm.area = "东城区";
            }
            for (var i in this.arr) {
              var obj = this.arr[i];
              if (obj.name == this.travelGuideForm.province) {
                this.cityArr = obj.sub;
                break;
              }
            }
            for (var i in this.cityArr) {
              var obj = this.cityArr[i];
              if (obj.name == this.travelGuideForm.city) {
                this.districtArr = obj.sub;
                break;
              }
            }
          } else {
            this.activeName = "foreign";
            this.travelGuideFormForeign = res.data.data;
           this.travelGuideFormForeign.content= this.escapeStringHTML(res.data.data.contentStr);
          }
          if (
            res.data.data.guideLable != null &&
            this.travelGuideForm.guideLable != ""
          ) {
            this.checkList = res.data.data.guideLable.split(";");
          }
        }
      });
      cityTableApi.selectSunCity().then(res => {
        this.citys = res.data.data;
      });
    },
    listenToChild(val) {
      this.travelGuideForm.content = val;
    },
    listenToChildForeign(val) {
      this.travelGuideFormForeign.content = val;
    },
    handleFile() {},
    clearUploadedImage(type) {
      // 重新选择文件时清空文件列表
      if (type === "upload") {
        this.$refs.upload.clearFiles();
        this.indexPhoto = [];
      } else if (type === "upload1") {
        this.$refs.upload1.clearFiles();
        this.banner = [];
      } else if (type === "upload2") {
        this.$refs.upload2.clearFiles();
        this.detail = [];
      }
    },
    indexPhoto_file(file, fileList) {
      // 攻略封面 on-change 事件
      this.indexPhoto = fileList;
    },
    banner_file(file, fileList) {
      // 详情页轮播图 on-change 事件
      this.banner = fileList;
    },
    detail_file(file, fileList) {
      // 详情图片 on-change 事件
      this.detail = fileList;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isGIF = file.type === "image/gif";
      const isPNG = file.type === "image/png";
      const isBMP = file.type === "image/bmp";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG && !isGIF && !isPNG && !isBMP) {
        this.$message.error("上传图片必须是JPG/GIF/PNG/BMP 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传图片大小不能超过 2MB!");
      }
      return (isJPG || isBMP || isGIF || isPNG) && isLt2M;
    },

    updateTravelGuide() {
      if (this.activeName == "china") {
        this.$refs.travelGuideForm.validate(valid => {
          if (valid) {
            this.isDisabled = true;
            let formData = new FormData();
            //var formData = new window.FormData()
            //表单的数据
            formData.append("id", this.travelGuideForm.id);
            formData.append("title", this.travelGuideForm.title);
            formData.append("content", this.travelGuideForm.content);
            formData.append(
              "indexPhoto",
              this.indexPhoto[0] ? this.indexPhoto[0].raw : ""
            );
            for (let i = 0; i < this.banner.length; i++) {
              formData.append(
                "banner",
                this.banner[i] ? this.banner[i].raw : ""
              );
            }
            for (let i = 0; i < this.detail.length; i++) {
              formData.append(
                "detail",
                this.detail[i] ? this.detail[i].raw : ""
              );
            }
            let citys = this.checkList.join(";");
            formData.append("country", "中国");
            formData.append("province", this.travelGuideForm.province);
            formData.append("city", this.travelGuideForm.city);
            formData.append("area", this.travelGuideForm.area);
            formData.append("guideLable", citys);

            formData.append("street", this.travelGuideForm.street);

            var url = "/travelGuide/update";
            let config = {
              headers: {
                "Content-Type": "multipart/form-data"
              }
            };
            if (store.getters.token) {
              config.headers["authorization"] = getToken(); // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
            }
            axios.defaults.withCredentials = true;
            axios
              .post(process.env.BASE_API + url, formData, config, {
                withCredentials: true
              })
              .then(res => {
                console.log(res.data);
                if (res.data.code == 1000) {
                  this.$message.success("攻略信息修改成功");
                  this.colseForm();
                } else {
                  this.$message.error("攻略信息修改失败");
                }
              });
          }
        });
      } else {
        this.$refs.travelGuideFormForeign.validate(valid => {
          if (valid) {
            this.isDisabled = true;
            let formData = new FormData();
            //var formData = new window.FormData()
            //表单的数据
            formData.append("id", this.travelGuideFormForeign.id);
            formData.append("title", this.travelGuideFormForeign.title);
            formData.append("content", this.travelGuideFormForeign.content);
            formData.append(
              "indexPhoto",
              this.indexPhoto[0] ? this.indexPhoto[0].raw : ""
            );
            for (let i = 0; i < this.banner.length; i++) {
              formData.append(
                "banner",
                this.banner[i] ? this.banner[i].raw : ""
              );
            }
            for (let i = 0; i < this.detail.length; i++) {
              formData.append(
                "detail",
                this.detail[i] ? this.detail[i].raw : ""
              );
            }
            let citys = this.checkList.join(";");

            formData.append("city", this.travelGuideFormForeign.city);
            formData.append("guideLable", citys);
            formData.append("street", this.travelGuideFormForeign.street);
            let config = {
              headers: {
                "Content-Type": "multipart/form-data"
              }
            };
            var url = "/travelGuide/update";
            if (store.getters.token) {
              config.headers["authorization"] = getToken(); // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
            }
            axios.defaults.withCredentials = true;
            axios
              .post(process.env.BASE_API + url, formData, config, {
                withCredentials: true
              })
              .then(res => {
                console.log(res.data);
                if (res.data.code == 1000) {
                  this.$message.success("攻略信息修改成功");
                  this.colseForm();
                } else {
                  this.$message.error("攻略信息修改失败");
                }
              });
          }
        });
      }
    },
    colseForm() {
      this.$store.dispatch("delVisitedViews", this.$route);
      this.$router.go(-1);
    },
    updateCity: function() {
      for (var i in this.arr) {
        var obj = this.arr[i];
        if (obj.name == this.travelGuideForm.province) {
          this.cityArr = obj.sub;
          break;
        }
      }
      this.travelGuideForm.city = this.cityArr[1].name;
    },
    updateDistrict: function() {
      for (var i in this.cityArr) {
        var obj = this.cityArr[i];
        if (obj.name == this.travelGuideForm.city) {
          this.districtArr = obj.sub;
          break;
        }
      }
      if (
        this.districtArr &&
        this.districtArr.length > 0 &&
        this.districtArr[1].name
      ) {
        this.travelGuideForm.area = this.districtArr[1].name;
      } else {
        this.travelGuideForm.area = "";
      }
    },
    changeCity: function() {
      if (this.checkList.length > 3) {
        this.$message.info("商圈最多选三项");
        this.checkList = this.checkList.slice(0, 3);
      }
    },
    // 转码
        escapeStringHTML(str) {
            str = str.replace(/&lt;/g,'<');
            str = str.replace(/&gt;/g,'>');
            return str;
        },
  }
};
</script>
