<template>
    <div class="app-container">
      <el-tabs v-model="activeName" type="border-card">
      <el-tab-pane label="国内攻略" name="china" disabled>
        <el-form class="detail-form" autoComplete="on" :model="travelGuideForm" ref="travelGuideForm" label-position="left" label-width="150px">
           <div >
             <h3>查看攻略信息</h3>
            </div>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="title" label="攻略标题">
                        {{travelGuideForm.title}}
                    </el-form-item>
                </el-col>
               
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="indexPhotoUrl" label="攻略封面">
                       <img :src="travelGuideForm.indexPhotoUrl" style="width: 300px">
                    </el-form-item>
                </el-col>
                
            </el-row>
            <el-row>
              <el-col :span="20">
                    <el-form-item prop="content" label="内容">
                         <div v-html="str" class="ql-editor">
            {{str}}
        </div>
                    </el-form-item>
                </el-col>
               
            </el-row>
            <el-row>
               <el-col :span="12">
                    <el-form-item prop="bannerUrl" label="详情页轮播图">
                        <swiper ref="bannerList" :swiper="bannerList" v-if="bannerList.length" style="width: 70%"></swiper>
                    </el-form-item>
                </el-col>
                 <el-col :span="9">
                    <el-form-item prop="detailUrl" label="详情图片">
                        <swiper ref="detailList" :swiper="detailList" v-if="detailList.length"></swiper>
                        <!-- <el-carousel :interval="5000" >
                          <el-carousel-item v-for="detail in detailList" :key="detail">
                                <img :src="detail" style="width: 100%;height: 100%;">
                          </el-carousel-item>
                        </el-carousel> -->
                    </el-form-item>
                 </el-col>
                
            </el-row>
            <el-row>
            <el-col :span="20">
              <el-form-item label="省市区">
                <el-select
                  v-model="travelGuideForm.province"
                  style="width:120px;"
                 disabled
                >
                  
                </el-select>
                <el-select
                  v-model="travelGuideForm.city"
                  style="width:120px;"
                  disabled
                >
                 
                </el-select>
                <el-select
                  v-model="travelGuideForm.area"
                  v-if="travelGuideForm.area"
                  disabled
                >
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="street" label="街道">
                        {{travelGuideForm.street}}
                    </el-form-item>
                </el-col>
                
            </el-row>
             <el-row>
            <el-col :span="12">
              <el-form-item label="附近商圈" prop="guideLable">
                <el-select v-model="checkList" multiple placeholder="请选择" disabled>
                  <!-- <el-option v-for="city in citys" :key="city" :label="city" :value="city"></el-option> -->
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
             
        </el-form>
        </el-tab-pane>

      <el-tab-pane label="国外攻略" name="foreign" disabled>
        <el-form
          class="detail-form"
          autocomplete="on"
          :model="travelGuideFormForeign"
          ref="travelGuideFormForeign"
          label-position="left"
          label-width="150px"
        >
          <div>
            <h3>查看攻略信息</h3>
          </div>
          <el-row>
            <el-col :span="12">
              <el-input
                style="display:none;"
                name="id"
                type="text"
                v-model="travelGuideFormForeign.id"
              />
              <el-form-item prop="title" label="攻略标题">
                {{travelGuideFormForeign.title}}
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item prop="indexPhotoUrl" label="攻略封面">
                 <img :src="travelGuideFormForeign.indexPhotoUrl" style="width: 300px">
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item prop="content" label="内容">
                <div v-html="str" class="ql-editor">
            {{str}}
        </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item prop="bannerUrl" label="详情页轮播图">
                <swiper ref="bannerList" :swiper="bannerList" v-if="bannerList.length"  style="width: 70%"></swiper>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item prop="detailUrl" label="详情图片">
                 <swiper ref="detailList" :swiper="detailList" v-if="detailList.length"></swiper>
                 <!-- <el-carousel :interval="5000" >
                          <el-carousel-item v-for="detail in detailList" :key="detail">
                                <img :src="detail" style="width: 100%;height: 100%;">
                          </el-carousel-item>
                  </el-carousel> -->
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item label="地址" prop="city">
                {{travelGuideFormForeign.city}}
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item prop="street" label="街道">
                 {{travelGuideFormForeign.street}}
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="附近商圈" prop="guideLable">
                <el-select v-model="checkList" multiple disabled>
                  
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </el-tab-pane>
    </el-tabs>
    </div>
</template>

<script>
import travelGuideApi from "@/api/travelGuide";
  import store from '@/store'
  import Swiper from '../../components/Swiper/Swiper.vue'
export default {
    name: 'addShop',
    components: {
      Swiper
    },
    data() {
        
      return {
         str: '',
         activeName: "china",
        travelGuideForm: {
        indexPhotoUrl: null,
        bannerUrl: null,
        detailUrl: null,
        country: null,
        province: "北京",
        city: "北京",
        area: "东城区",
        street: null,
        guideLable: null,
        content: null,
        title: null
      },
      travelGuideFormForeign: {
        indexPhotoUrl: null,
        bannerUrl: null,
        detailUrl: null,
        country: null,
        province: null,
        city: null,
        area: null,
        street: null,
        guideLable: null,
        content: null,
        title: null
      },
      bannerList: [],
      detailList: [],
      checkList: []
        
      }
    },
    created() {
      this.initData()
    },
    methods: {
      
      initData(){
        //格式化攻略表单
        let id=this.$route.params.id;
        if(!id)id=1;
        travelGuideApi.selectTravelGuide(id).then(res => {
          if (res.data.code == 1000) {
          if (res.data.data.country == "中国") {
            this.activeName = "china";
            this.travelGuideForm = res.data.data;
          } else {
            this.activeName = "foreign";
            this.travelGuideFormForeign = res.data.data;
          }
          if (
            res.data.data.guideLable != null &&
            this.travelGuideForm.guideLable != ""
          ) {
            this.checkList = res.data.data.guideLable.split(";");
          }
          this.bannerList=res.data.data.bannerUrl.split(';');
          this.detailList=res.data.data.detailUrl.split(';');
          this.str = this.escapeStringHTML(res.data.data.contentStr);
        }

        
        })
      },
      colseForm() {
        this.$router.go(-1)
      },
      // 转码
        escapeStringHTML(str) {
            str = str.replace(/&lt;/g,'<');
            str = str.replace(/&gt;/g,'>');
            return str;
        },
    },
}
</script>
