<template>
	<!--富文本编辑器-->
	<div class="edit_container">
		<quill-editor
			v-model="content"
			ref="myQuillEditor"
			:options="editorOption"
			@blur="onEditorBlur($event)" @focus="onEditorFocus($event)"
			@change="onEditorChange($event)"
     >
		</quill-editor>
	</div>
</template>

<script>
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import { addQuillTitle } from '../../utils/quill-title.js';
  export default {
    components: {ElButton},
    name: 'App',
    props: {
     quillData: {
      type: String,
      default: false
    }
  },
       data(){
         return {
           content: ``,
           // 定义富文本编辑器显示
           editorOption: {
              modules:{
                  toolbar:[
                       ['bold','italic','underline','strike'], // 加粗、倾斜、下划线、删除线
                       ['blockquote'],// 引用
                       [{ 'header': [1, 2, 3, 4, 5, 6, false] }],     //几级标题
                       [{'list':'ordered'},{'list':'bullet'}], // 列表
                  [{'color':[]},{'background':[]}], // 字体颜色、背景颜色
                  [{ 'script': 'sub' }, { 'script': 'super' }],//下标、上标
                  [{ 'indent': '-1' }, { 'indent': '+1' }],//左缩进、右缩进
                  [{ 'size': ['small', false, 'large', 'huge'] }],//字体大小
                  ['clean'],//清除字体样式
                  [{ 'align': [] },'image'],//文字对齐、图片
                  ]
            },
            placeholder:'请输入文章内容 ...'
 	  },
   }
},
computed: {
    editor() {
         return this.$refs.myQuillEditor.quill;
   }
},
methods: {
	  // 准备编辑器
      onEditorReady(editor) {},
      // 失去焦点事件
      onEditorBlur(){}, 
      // 获得焦点事件
      onEditorFocus(){}, 
       // 内容改变事件
      onEditorChange({editor, html, text}) {
        this.$emit('change-content',html)
        // console.log(html)
      },
      saveHtml:function(event){
         alert(this.content);
      }
    },
   mounted(){  addQuillTitle(); 
       // 设置编辑器高度
       this.editor.container.style.height = `${500}px`
       let that = this
      setTimeout(function(){
        // console.log(that.quillData)
        that.content = that.quillData
      },200)
      }
}
</script>
<!--<style rel="stylesheet/scss" lang="scss" scoped>
    .edit_container { 
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
    .ql-editor{
         height:500px;
     }
     
</style>-->