<template>
    <div class="app-container">
        <!--查询-->
        <el-row>
            <el-input style="width:200px;" v-model="tableQuery.shopName" placeholder="商家名"></el-input>
            <span style="margin-right: 15px;"></span>
            <el-select style="width:200px;" v-model="tableQuery.shopType" placeholder="请选择">
                <el-option v-for="item in shopType" :key="item.value" :lable="item.value" :value="item.lable"></el-option>
            </el-select>
            <span style="margin-right: 15px;"></span>
            <el-tooltip class="item" content="搜索" placement="top">
                <el-button icon="el-icon-search" circle @click="fetchData(1)"></el-button>
            </el-tooltip>
        </el-row>
         <div style="margin-bottom: 30px;"></div>
         <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleCreate">{{textMap.create}}</el-button>
        <div style="margin-bottom: 30px;"></div>
    <!--列表-->
     <el-table style="width: 100%"
              :data="tableData"
              v-loading.body="tableLoading"
              element-loading-text="Loading"
              border fit highlight-current-row>
      <el-table-column prop="id" label="商户id" ></el-table-column>
      <el-table-column prop="shopName" label="商家名" ></el-table-column>
      <el-table-column prop="shopType" :formatter="formatterShopType" label="商户类型" ></el-table-column>
      <el-table-column prop="shopType"  label="商户状态" >
        <template  slot-scope="scope" > 
            <el-tag
            :type="scope.row.shopType<0&&scope.row.jcunitedAuthentication<0 ? 'danger' : 'success'"
            disable-transitions>{{scope.row.shopType<0&&scope.row.jcunitedAuthentication<0? '已下架' : '已上架'}}</el-tag>
        </template>
      </el-table-column>
     
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-tooltip content="查看" placement="top">
            <el-button @click="handleView(scope.$index,scope.row)" size="medium" type="warning" icon="el-icon-view" circle plain></el-button>
          </el-tooltip>
          <el-tooltip content="编辑" placement="top" v-if="!hasShopRole(scope.row)">
            <el-button @click="handleUpdate(scope.$index,scope.row)" size="medium" type="info" icon="el-icon-edit" circle plain></el-button>
          </el-tooltip>
          <el-tooltip content="上架/下架" placement="top" v-if="!hasShopRole(scope.row)">
            <el-button @click="handleDelete(scope.$index,scope.row)" size="medium" type="danger" icon="el-icon-delete" circle plain></el-button>
          </el-tooltip>
          <el-popover trigger="hover" placement="top" v-else style="display: inline-block;">
            <el-alert type="warning" :closable="false" title="权限说明">
              <div>为保证商户信息安全</div>
              <div>只允许商户管理员角色编辑商铺列表信息</div>
              <div>只允许商户管理员角色删除商铺</div>
            </el-alert>
            <div slot="reference" >
              <el-tag style="margin-left: 10px;" type="info">权限说明</el-tag>
            </div>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-bottom: 30px;"></div>
    <!--分页-->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="tablePage.current"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="tablePage.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tablePage.total">
    </el-pagination>
    
    </div>
</template>
<script>
  import shopApi from '@/api/shop'
  import {shopType}  from '@/utils/shop'
  import { parseTime, resetTemp,shop } from '@/utils'
  import { pageParamNames, confirm, root } from '@/utils/constants'
  import debounce from 'lodash/debounce'

export default {
      name: 'ShopManage',
    data() {
      return {
          shopType:shopType,
        tableLoading:false,
        tableData: [],
        tableQuery:{
          shopName: null,
          shopType: null
        },
        tablePage: {
          current: null,
          pages: null,
          size:null,
          total: null
        },
        dialogFormVisible: false,
        dialogStatus: '',
        temp: {
          idx: null,//表格的下标
          id: null,
          shopName: null,
          officeHours: null,
          shopAddress: null,
          contactInformation: null,
          shopPhotoUrl: null,
          partition: null,
          shopType: null,
          shopDiscount: null,
          consumptionDetails: null,
          shopUrl: null,
          shopConsumption: null,
          jcunitedAuthentication: null
        },
        textMap: {
          update: '编辑商户',
          create: '新增商户'
        },
        rules: {
          shopName: [{ required: true, message: '必填', trigger: 'blur' }],
          contactInformation: [{ required: true, message: '必填', trigger: 'blur' }]
        },
      }
    },
    created(){
      this.fetchData()
    },
     watch:{
      //延时查询
      'tableQuery.shopName': debounce( function(){
        this.fetchData()
      },500),
      'tableQuery.shopType': debounce( function(){
        this.fetchData()
      },500),
    },//watch
  methods: {
      parseTime,
      hasShopRole(row){
        return row && row.rval==root.rval
      },
      //分页
      handleSizeChange(val) {
        this.tablePage.size = val;
        this.fetchData();
      },
      handleCurrentChange(val) {
        this.tablePage.current = val;
        this.fetchData();
      },
      //查询
      fetchData() {
        this.tableLoading = true
        shopApi.queryShop(this.tableQuery,this.tablePage).then(res => {
          this.tableData = res.data.data.data
          this.tableLoading = false
          //设置后台返回的分页参数
          pageParamNames.forEach(name=>this.$set(this.tablePage,name,res.data.data[name]))
        })
      },

      //更新
      handleUpdate(idx,row) {
       this.$router.push({name:'updateShop',params:{id:row.id}});
      },

      //删除
      handleDelete(idx,row) {
        let massge="";
        if(row.shopType<0&&row.jcunitedAuthentication<0){
          massge="您确定要上架该商户？";
        }else{
          massge= "您确定要下架该商户？";
        }
        this.$confirm(massge, '提示', confirm).then(() => {
          shopApi.lowerShelfShop( {id : row.id} ).then(res => {
            // this.tableData.splice(idx, 1)
            // --this.tablePage.total
            this.dialogFormVisible = false
             if(row.shopType<0&&row.jcunitedAuthentication<0){
              this.$message.success('商户上架成功')
            }else{
              this.$message.success('商户下架成功')
            }
             window.location.reload();
          })
        }).catch(() => {
          this.$message.info('已取消上架/下架操作')
        })
      },

      //新增
      handleCreate() {
       this.$router.push({path:'/shop/addShop'})
      },
      //查看商家详细信息
      handleView(idx,row) {
      this.$router.push({name:'selectShop',params:{id:row.id}});
      //  this.$router.push({path:'/shop/selectShop',query:{id:row.id}})
      },
      formatterShopType: function(row, column, value) {
        for(let i = 0; i < shopType.length; i++){
              if(value==shopType[i].value){
                // console.log(shopType[i].value)
                return shopType[i].lable;
              }
            }
      },
      
       shangJiaType(row){
        if(row.shopType<0&&row.jcunitedAuthentication<0){
          return "上架";
        }else{
          return "下架";
        }
      },
      
    }
}
</script>

