<template>
    <div class="app-container">
        <el-form class="detail-form" autoComplete="on" :model="shopForm" :rules="shopRules" ref="shopForm" label-position="left" label-width="150px">
           <div >
             <h3>修改商户信息</h3>
            </div>
            <el-row>
                <el-col :span="12">
                  <el-input style="display:none;" name="id" type="text" v-model="shopForm.id" />
                    <el-form-item prop="shopName" label="商家名">
                        <el-input style="width:250px;" name="shopName" type="text" v-model="shopForm.shopName" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item prop="officeHours" label="营业时间">
                        <el-input  name="officeHours" type="text" v-model="shopForm.officeHours" autoComplete="on" placeholder="周一至周日 00:00-24:00"/>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="shopAddress" label="商家地址">
                        <el-input name="shopAddress" style="width:400px;" type="text" v-model="shopForm.shopAddress" autoComplete="on"/>
                    </el-form-item>
                </el-col>
               
            </el-row>
            <el-row>
                 <el-col :span="12">
                    <el-form-item prop="contactInformation" label="联系方式">
                        <el-input style="width:250px;" name="contactInformation" type="text" v-model="shopForm.contactInformation" autoComplete="on"/>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item prop="partition" label="地址分区">
                        <el-input name="partition" type="text" v-model="shopForm.partition" autoComplete="on"/>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="shopPhoto" label="商圈列表商家图片">
                      <el-upload ref="upload" action="" :http-request="handleFile" :on-change="shopPhoto_file" :multiple="false" :limit="1" 
                      :file-list="shopPhoto" accept="image/jpeg,image/gif,image/png,image/bmp" :before-upload="beforeAvatarUpload">
                        <el-button size="small" type="primary" @click="clearUploadedImage('upload')">点击上传</el-button>
                          <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                      </el-upload>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item prop="indexImgUrl" label="首页推荐商家图片">
                      <el-upload ref="upload3" action="" :http-request="handleFile" :on-change="indexImg_file" :multiple="false" :limit="1" 
                      :file-list="indexImg" accept="image/jpeg,image/gif,image/png,image/bmp" :before-upload="beforeAvatarUpload">
                        <el-button size="small" type="primary" @click="clearUploadedImage('upload3')">点击上传</el-button>
                          <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                      </el-upload>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="shopType" label="商户分类">
                        <el-select style="width:200px;" v-model="shopForm.shopType" placeholder="请选择" :on-change="getShopType(shopForm.shopType)">
                          <el-option v-for="item in shopType" :key="item.value" :lable="item.value" :value="item.lable"></el-option>
                        </el-select>
                        <!-- <el-input style="width:200px;" name="shopType" type="text" v-model="shopForm.shopType" autoComplete="on"/> -->
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item prop="shopDiscount" label="商户折扣">
                        <el-input name="shopDiscount" type="text" v-model="shopForm.shopDiscount" autoComplete="on"/>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="consumptionDetailsFile" label="消费价目表详情">
                      <el-upload ref="upload1" action="" :http-request="handleFile" :on-change="consumptionDetailsFile_file" :multiple="false" :limit="1" 
                      :file-list="consumptionDetailsFile" accept="image/jpeg,image/gif,image/png,image/bmp" :before-upload="beforeAvatarUpload">
                        <el-button size="small" type="primary" @click="clearUploadedImage('upload1')">点击上传</el-button>
                          <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                      </el-upload>
                        <!-- <el-input style="width:250px;" name="consumptionDetailsFile" type="file" v-model="shopForm.consumptionDetailsFile" autoComplete="on" accept="image/jpeg,image/gif,image/png,image/bmp" 
                        :before-upload="beforeAvatarUpload" :file-list="consumptionDetailsFile" :on-change="consumptionDetailsFile_file"/> -->
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item prop="shop" label="商户轮播图">
                      <el-upload ref="upload2" action="" :http-request="handleFile" :on-change="shop_file" :multiple="true"
                      :file-list="shop" accept="image/jpeg,image/gif,image/png,image/bmp" :before-upload="beforeAvatarUpload">
                        <el-button size="small" type="primary" @click="clearUploadedImage('upload2')">点击上传</el-button>
                          <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
                      </el-upload>
                        <!-- <el-input name="shop" type="file" v-model="shopForm.shop" autoComplete="on" multiple="multiple" accept="image/jpeg,image/gif,image/png,image/bmp" 
                        :before-upload="beforeAvatarUpload" :file-list="shop" :on-change="shop_file"/> -->
                    </el-form-item>
                 </el-col>
            </el-row>
              <div  class="dialog-footer" style="float:right;margin-right: 212px;">
                <el-button @click="colseForm">取消</el-button>
                <el-button  @click="updateShop" :disabled="isDisabled">修改</el-button>
             </div>
        </el-form>
    </div>
</template>

<script>
  import shopApi from '@/api/shop'
  import store from '@/store'
  import { getToken } from '@/utils/auth'
  import {shopType}  from '@/utils/shop'
  import axios from 'axios'
export default {
    name: 'addShop',
    data() {
        const validateShopName = (rule, value, callback) => {
        if (!value) {
          callback(new Error('请输入商家名!'))
        } else {
          callback()
        }
      }
        const validateOfficeHours = (rule, value, callback) => {
        if (!value) {
          callback(new Error('营业时间不能为空!'))
        } else {
          callback()
        }
      }
      const validateShopAddress = (rule, value, callback) => {
        if (!value) {
          callback(new Error('商家地址不能为空!'))
        } else {
          callback()
        }
      }
      const validateContactInformation = (rule, value, callback) => {
        if (!value) {
          callback(new Error('联系方式不能为空!'))
        } else {
          callback()
        }
      }
      const validatePartition = (rule, value, callback) => {
        if (!value) {
          callback(new Error('地址分区不能为空!'))
        } else {
          callback()
        }
      }
      const validateShopType = (rule, value, callback) => {
        if (!value) {
          callback(new Error('请选择商户分类!'))
        } else {
          callback()
        }
      }
      return {
        shopType:shopType,
        shopForm: {
          id: null,
          shopName: null,
          officeHours: null,
          shopAddress: null,
          contactInformation: null,
          shopPhoto: null,
          partition: null,
          shopType: null,
          shopDiscount: null,
          consumptionDetailsFile: null,
          shop: null,
          indexImgUrl: null
        }, 
        shop: [],
        shopPhoto: [],
        consumptionDetailsFile: [],
        shopList: [],
        indexImg: [],
        shopRules: {
          shopName: [{required: true, trigger: 'blur', validator: validateShopName}],
          officeHours: [{required: true, trigger: 'blur', validator: validateOfficeHours}],
          shopAddress: [{required: true, trigger: 'blur', validator: validateShopAddress}],
          contactInformation: [{required: true, trigger: 'blur', validator: validateContactInformation}],
          partition: [{required: true, trigger: 'blur', validator: validatePartition}],
          shopType: [{required: true, trigger: 'blur', validator: validateShopType}]
        },
        isDisabled:false,
      }
    },
    created() {
      this.initData()
    },
    methods: {
      initData(){
        //格式化商户表单
        let id=this.$route.params.id;
        if(!id)id=1;
        shopApi.selectShop(id).then(res => {
          this.shopForm=res.data.data;
          this.shopForm.shopType=this.getShopTypeLable(this.shopForm.shopType);
          this.shopList=this.shopForm.shopUrl.split(';');
        })
      },
      handleFile () { },
      clearUploadedImage (type) {
      // 重新选择文件时清空文件列表
      if (type === 'upload') {
        this.$refs.upload.clearFiles();
        this.shopPhoto = [];
      } else if (type === 'upload1') {
        this.$refs.upload1.clearFiles();
        this.consumptionDetailsFile = [];
      }else if (type === 'upload2') {
        this.$refs.upload2.clearFiles();
        this.shop = [];
      }else if (type === 'upload3') {
        this.$refs.upload3.clearFiles();
        this.indexImg = [];
      }
    },
      shopPhoto_file (file, fileList) {
      // 商家图片 on-change 事件
      this.shopPhoto = fileList;
    },
    shop_file (file, fileList) {
      // 商户轮播图 on-change 事件
      this.shop = fileList;
    },
    consumptionDetailsFile_file (file, fileList) {
      // 消费价目表详情 on-change 事件
      this.consumptionDetailsFile = fileList;
    },indexImg_file (file, fileList) {
      // 首页推荐商家图片 on-change 事件
      this.indexImg = fileList;
    },
      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isGIF = file.type === 'image/gif';
        const isPNG = file.type === 'image/png';
        const isBMP = file.type === 'image/bmp';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG && !isGIF && !isPNG && !isBMP) {
          this.$message.error('上传图片必须是JPG/GIF/PNG/BMP 格式!');
        }
        if (!isLt2M) {
          this.$message.error('上传图片大小不能超过 2MB!');
        }
        return (isJPG || isBMP || isGIF || isPNG) && isLt2M;
      },
      getShopType(value){
        for(let i = 0; i < shopType.length; i++){
              if(value==shopType[i].lable){
                // console.log(shopType[i].value)
                return shopType[i].value;
              }
            }
      },
      getShopTypeLable(value){//{value: '2', lable: '轰趴'}
        for(let i = 0; i < shopType.length; i++){
              if(value==shopType[i].value){
                // console.log(shopType[i].value)
                return shopType[i].lable;
              }
            }
      },
      updateShop() {
        this.$refs.shopForm.validate(valid => {
          if (valid) {
            this.isDisabled = true;
            let formData = new FormData();
            //var formData = new window.FormData()
            //表单的数据
            formData.append('id', this.shopForm.id)
            formData.append('shopName', this.shopForm.shopName)
            formData.append('officeHours', this.shopForm.officeHours)
            formData.append('shopAddress', this.shopForm.shopAddress)
            formData.append('contactInformation', this.shopForm.contactInformation)
            formData.append('partition', this.shopForm.partition)
            formData.append('shopType', this.getShopType(this.shopForm.shopType))
            formData.append('shopDiscount', this.shopForm.shopDiscount)
            formData.append('shopPhoto', this.shopPhoto[0] ? this.shopPhoto[0].raw : '')
            formData.append('consumptionDetailsFile', this.consumptionDetailsFile[0] ? this.consumptionDetailsFile[0].raw : '');
            formData.append('indexImg', this.indexImg[0] ? this.indexImg[0].raw : '');
            for(let i = 0; i < this.shop.length; i++){
              formData.append('shop', this.shop[i] ? this.shop[i].raw : '');
            }
            var url='/shop/updateShop';
            let config = {
              headers: {
              'Content-Type': 'multipart/form-data'
              }
            };
            if (store.getters.token) {
              config.headers['authorization'] = getToken() // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
            }
          axios.defaults.withCredentials = true 
          axios.post(process.env.BASE_API + url, formData, config, {withCredentials: true}).then(res => {
             console.log(res.data)
             if(res.data.code==1000){
             this.$message.success("商铺信息修改成功")
             this.colseForm();
             }else{
                this.$message.error("商铺信息修改失败")
             }
           });
          }
        })
      },
      colseForm() {
        this.$store.dispatch('delVisitedViews', this.$route);
        this.$router.go(-1);
      },
    },
}
</script>
