<template>
    <div class="app-container">
        <el-form class="detail-form" autoComplete="on" :model="shopForm" ref="shopForm" label-position="left" label-width="150px">
           <div >
             <h3>查看商户信息</h3>
            </div>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="shopName" label="商家名">
                        {{shopForm.shopName}}
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item prop="officeHours" label="营业时间">
                        {{shopForm.officeHours}}
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="shopAddress" label="商家地址">
                        {{shopForm.shopAddress}}
                    </el-form-item>
                </el-col>
                
            </el-row>
            <el-row>
              <el-col :span="12">
                    <el-form-item prop="contactInformation" label="联系方式">
                         {{shopForm.contactInformation}}
                    </el-form-item>
                </el-col>
               <el-col :span="12">
                    <el-form-item prop="partition" label="地址分区">
                        {{shopForm.partition}}
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
               <el-col :span="12">
                     <el-form-item prop="indexImgUrl" label="首页推荐商家图片">
                        <img :src="shopForm.indexImgUrl" style="width: 300px">
                    </el-form-item>
                </el-col>
                 <el-col :span="9">
                    <el-form-item prop="shop" label="商户轮播图">
                        <swiper :swiper="shopList" v-if="shopList.length"></swiper>
                        <!-- <el-carousel :interval="5000" >
                          <el-carousel-item v-for="shopUrl in shopList" :key="shopUrl">
                                <img :src="shopUrl" style="width: 100%;height: 100%;">
                          </el-carousel-item>
                        </el-carousel> -->
                    </el-form-item>
                 </el-col>
                
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="shopType" label="商户分类">
                        {{shopForm.shopType}}
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item prop="shopDiscount" label="商户折扣">
                        {{shopForm.shopDiscount}}折
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item prop="consumptionDetails" label="消费价目表详情">
                        <img :src="shopForm.consumptionDetails" style="width: 300px">
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item prop="shopPhotoUrl" label="商圈列表商家图片">
                        <img :src="shopForm.shopPhotoUrl" style="width: 300px">
                    </el-form-item>
                </el-col>
            </el-row>
              <!-- <div  class="dialog-footer" style="float:right;margin-right: 212px;">
                <el-button @click="colseForm">取消</el-button>
                <el-button  @click="addShop">保存</el-button>
             </div> -->
        </el-form>
    </div>
</template>

<script>
  import shopApi from '@/api/shop'
  import store from '@/store'
  import { getToken } from '@/utils/auth'
  import {shopType}  from '@/utils/shop'
  import axios from 'axios'
  import Swiper from '../../components/Swiper/Swiper.vue'
export default {
    name: 'addShop',
    components: {
      Swiper
    },
    data() {
        
      return {
        shopType:shopType,
        shopForm: {
          shopName: null,
          officeHours: null,
          shopAddress: null,
          contactInformation: null,
          shopPhotoUrl: null,
          partition: null,
          shopType: null,
          shopDiscount: null,
          consumptionDetails: null,
          shopUrl: null,
          indexImgUrl:null
        }, 
        shopList: [],
        
      }
    },
    created() {
      this.initData()
    },
    methods: {
      getShopType(value){
        for(let i = 0; i < shopType.length; i++){
              if(value==shopType[i].value){
                // console.log(shopType[i].value)
                return shopType[i].lable;
              }
            }
      },
      initData(){
        //格式化商户表单
        let id=this.$route.params.id;
        if(!id)id=1;
        shopApi.selectShop(id).then(res => {
          this.shopForm=res.data.data;
          this.shopForm.shopType=this.getShopType(this.shopForm.shopType);
          this.shopList=this.shopForm.shopUrl.split(';');
        })
      },
      colseForm() {
        this.$router.go(-1)
      },
    },
}
</script>
