<template>
  <div class="app-container">
    <div style="margin-bottom: 30px;"></div>
    <el-button
      type="primary"
      icon="el-icon-plus"
      size="mini"
      @click="handleCreate"
      v-perm="'b:indexBanner:add'"
    >{{textMap.create}}</el-button>
    <div style="margin-bottom: 30px;"></div>
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="id" label="#" width="180"></el-table-column>
      <el-table-column prop="indexItem" label="图片链接" width="180">
        <template slot-scope="scope">
          <img :src="scope.row.indexItem" width="111" height="69" />
        </template>
      </el-table-column>
      <el-table-column prop="extraUrl" label="附加链接">
        <template slot-scope="scope">
          <a :href="scope.row.extraUrl" target="_blank">{{scope.row.extraUrl}}</a>
        </template>
      </el-table-column>
      <el-table-column prop="typeId" label="类型" width="100">
        <template slot-scope="scope">{{scope.row.typeId|formatterTypeId}}</template>
      </el-table-column>
      <el-table-column prop="bannerText" label="banner文案"></el-table-column>
      <el-table-column fixed="right" label="操作" width="100">
        <template slot-scope="scope">
          <el-tooltip content="编辑" placement="top">
            <el-button
              @click="handleUpdate(scope.$index,scope.row)"
              size="medium"
              type="warning"
              icon="el-icon-star-off"
              circle
              plain
            ></el-button>
          </el-tooltip>
          <!-- <el-tooltip content="删除" placement="top" >
            <el-button @click="handleDelete(scope.$index,scope.row)" size="medium" type="danger" icon="el-icon-delete" circle plain></el-button>
          </el-tooltip>-->
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" v-dialogDrag center>
      <el-form :model="form" ref="dataForm">
        <el-form-item label="banner图片" prop="indexItem">
          <el-upload
            ref="upload"
            action
            :http-request="handleFile"
            :on-change="indexItem_file"
            :multiple="false"
            :limit="1"
            :file-list="indexItem"
            accept="image/jpeg, image/gif, image/png, image/bmp"
            :before-upload="beforeAvatarUpload"
          >
            <el-button size="small" type="primary" @click="clearUploadedImage()">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
          </el-upload>
        </el-form-item>
        <el-form-item label="附加链接" prop="extraUrl">
          <el-input v-model="form.extraUrl" autocomplete="off" :placeholder="form.extraUrl"></el-input>
        </el-form-item>
        <el-form-item label="banner文案" prop="bannerText">
          <el-input v-model="form.bannerText" autocomplete="off" :placeholder="form.bannerText"></el-input>
        </el-form-item>
        <el-form-item label="类型" prop="typeId">
          
          <el-select style="width:200px;" v-model="form.typeId" placeholder="请选择" >
                          <el-option v-for="item in typeId" :key="item.value" :lable="item.lable" :value="item.lable"></el-option>
                        </el-select>
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false;clearUploadedImage ()">取消</el-button>
        <el-button
          v-if="dialogStatus=='create'"
          type="primary"
          @click="createData();clearUploadedImage()"
        >创建</el-button>
        <el-button v-else type="primary" @click="updateData();clearUploadedImage ()">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import bannerApi from "@/api/banner";
import { parseTime, resetTemp } from "@/utils";
import { root, confirm, pageParamNames } from "@/utils/constants";
import debounce from "lodash/debounce";
import { getToken } from "@/utils/auth";
import axios from "axios";
import store from "@/store";

export default {
  filters: {
    formatterTypeId: function(value) {
      if (value == 1) {
        return "专区";
      } else if (value == 2) {
        return "客服";
      } else if (value == 3) {
        return "首页";
      } else if (value == 4) {
        return "热搜";
      } else if (value == 5) {
        return "开屏广告";
      } else if (value == 6) {
        return "活动";
      }
    }
  },
  data() {
    return {
      typeId: [
        {
          value: "1",
          lable: "专区"
        },
        {
          value: "2",
          lable: "客服"
        },
        {
          value: "3",
          lable: "首页"
        },
        {
          value: "4",
          lable: "热搜"
        },
        {
          value: "5",
          lable: "开屏广告"
        },
        {
          value: "6",
          lable: "活动"
        }
      ],
      tableData: [],
      dialogFormVisible: false,
      formIdValue: "",
      gridData: [],
      form: {
        id: "",
        indexItem: "",
        extraUrl: "",
        bannerText: "",
        typeId: "",
      },
      textMap: {
        update: "编辑首页Banner",
        create: "新增首页Banner"
      },
      indexItem: [],
      formLabelWidth: 250,
      dialogStatus: ""
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    handleFile() {},
    clearUploadedImage() {
      this.$refs.upload.clearFiles();
      this.indexItem = [];
    },
    indexItem_file(file, fileList) {
      // banner图片 on-change 事件
      this.indexItem = fileList;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isGIF = file.type === "image/gif";
      const isPNG = file.type === "image/png";
      const isBMP = file.type === "image/bmp";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG && !isGIF && !isPNG && !isBMP) {
        this.$message.error("上传图片必须是JPG/GIF/PNG/BMP 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传图片大小不能超过 2MB!");
      }
      return (isJPG || isBMP || isGIF || isPNG) && isLt2M;
    },
    fetchData() {
      bannerApi.selectBanner().then(res => {
        console.log(res);
        this.tableData = res.data.data;
        this.gridData = res.data.data;
      });
    },
    getTypeId(value){
        for(let i = 0; i < this.typeId.length; i++){
              if(value==this.typeId[i].lable){
                console.log(this.typeId[i].lable)
                return this.typeId[i].value;
              }
            }
      },
    //更新
    handleUpdate(idx, row) {
      this.form = Object.assign({}, row); // copy obj
      this.form.idx = idx;
      this.dialogStatus = "update";
      for(let i = 0; i < this.typeId.length; i++){
              if(row.typeId==this.typeId[i].value){
               this.form.typeId=this.typeId[i].lable;
              }
            }
      this.dialogFormVisible = true;
      this.$nextTick(() => this.$refs["dataForm"].clearValidate());
    },
    updateData() {
      this.$refs["dataForm"].validate(valid => {
        if (!valid) return;
        let formData = new FormData();
       let typeId =  this.getTypeId(this.form.typeId);
       console.log(typeId)
        //表单的数据
        formData.append("id", this.form.id);
        formData.append("extraUrl", this.form.extraUrl);
        formData.append("bannerText", this.form.bannerText);
        formData.append("typeId", typeId);
        formData.append("file", this.indexItem[0] ? this.indexItem[0].raw : "");
        var url = "/banner/update";
        let config = {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        };
        if (store.getters.token) {
          config.headers["authorization"] = getToken(); // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
        }
        axios.defaults.withCredentials = true;
        axios
          .post(process.env.BASE_API + url, formData, config, {
            withCredentials: true
          })
          .then(res => {
            console.log(res.data);
            this.dialogFormVisible = false;
            if (res.data.code == 1000) {
              this.$message.success("首页banner修改成功");
              window.location.reload();
            } else {
              this.$message.error("首页banner修改失败");
            }
          });
      });
    },
    //删除
    handleDelete(idx, row) {
      this.$confirm("您确定要永久删除该banner？", "提示", confirm)
        .then(() => {
          bannerApi.deleteBanner({ id: row.id }).then(res => {
            this.tableData.splice(idx, 1);
            --this.tablePage.total;
            this.dialogFormVisible = false;
            this.$message.success("删除成功");
            window.location.reload();
          });
        })
        .catch(() => {
          this.$message.info("已取消删除");
        });
    },

    //新增
    handleCreate() {
      resetTemp(this.form);
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    createData() {
      this.$refs["dataForm"].validate(valid => {
        if (!valid) return;
        let formData = new FormData();
        //表单的数据
        formData.append("extraUrl", this.form.extraUrl);
        formData.append("bannerText", this.form.bannerText);
        formData.append("typeId",  this.getTypeId(this.form.typeId));
        formData.append("file", this.indexItem[0] ? this.indexItem[0].raw : "");
        var url = "/banner/add";
        let config = {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        };
        if (store.getters.token) {
          config.headers["authorization"] = getToken(); // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
        }
        axios.defaults.withCredentials = true;
        axios
          .post(process.env.BASE_API + url, formData, config, {
            withCredentials: true
          })
          .then(res => {
            console.log(res.data);
            this.dialogFormVisible = false;
            if (res.data.code == 1000) {
              this.$message.success("首页banner添加成功");
              window.location.reload();
              //  window.location.reload();
            } else {
              this.$message.error("首页banner添加失败");
            }
          });
      });
    }
  }
};
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
a:hover {
  color: blue;
}
</style>

