<template>
  <div class="app-container">
    <el-form
      class="detail-form"
      autocomplete="on"
      :model="activityForm"
      :rules="activityRules"
      ref="activityForm"
      label-position="left"
      label-width="180px"
    >
      <div>
        <h3>添加活动</h3>
      </div>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="activityName" label="活动标题">
            <el-input
              style="width:400px;"
              name="activityName"
              type="text"
              v-model="activityForm.activityName"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityLabel" label="活动标签">
            <el-input
              style="width:250px;"
              name="activityLabel"
              type="text"
              v-model="activityForm.activityLabel"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="activityTime" label="活动起止时间">
            <el-date-picker
              v-model="activityForm.activityTime"
              type="datetimerange"
              range-separator="至"
              start-placeholder="活动开始时间"
              end-placeholder="活动结束时间"
              value-format="yyyy-MM-dd HH:mm:ss"
            ></el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="signupTime" label="活动报名起止时间">
            <el-date-picker
              v-model="activityForm.signupTime"
              type="datetimerange"
              range-separator="至"
              start-placeholder="活动开始报名时间"
              end-placeholder="活动结束报名时间"
              value-format="yyyy-MM-dd HH:mm:ss"
            ></el-date-picker>
          </el-form-item>
        </el-col>
      </el-row>

      <!-- <el-row>
        <el-col :span="12">
          <el-form-item prop="activityNum" label="活动允许最大人数">
            <el-input-number
              v-model="activityForm.activityNum"
              :min="1"
              :max="1000"
              label="活动允许最大人数"
            ></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityNumMin" label="活动举办最少人数">
            <el-input-number
              v-model="activityForm.activityNumMin"
              :min="1"
              :max="1000"
              label="活动举办最少人数"
            ></el-input-number>
          </el-form-item>
        </el-col>
      </el-row> -->
      <el-row>
        <el-col :span="12">
          <el-form-item prop="activityArea" label="活动区域（粗略地址）">
            <el-select v-model="activityForm.activityArea" placeholder="请选择">
              <el-option v-for="city in citys" :key="city" :label="city" :value="city"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityStreet" label="活动街道（详细地址）">
            <el-input
              style="width:400px;"
              name="activityStreet"
              type="text"
              v-model="activityForm.activityStreet"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        
        <!-- <el-col :span="12">
          <el-form-item prop="activityVipPrice" label="活动保证金">
            <el-input
              style="width:250px;"
              name="activityVipPrice"
              type="text"
              v-model="activityForm.activityVipPrice"
            />
          </el-form-item>
        </el-col> -->
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="activityType" label="活动类型">
            <el-radio v-model="activityForm.activityType" label="0" border>vip活动</el-radio>
            <el-radio v-model="activityForm.activityType" label="1" border>普通活动</el-radio>
          </el-form-item>
          <!-- <el-form-item prop="activityDayNight" label="活动日夜场">
            <el-radio v-model="activityForm.activityDayNight" label="0" border>夜场</el-radio>
            <el-radio v-model="activityForm.activityDayNight" label="1" border>日场</el-radio>
          </el-form-item> -->
        </el-col>
        <el-col :span="12">
          <el-form-item prop="isShopActivity" label="活动类型">
            <el-radio v-model="activityForm.isShopActivity" label="0" border>banner活动</el-radio>
            <el-radio v-model="activityForm.isShopActivity" label="1" border>列表活动</el-radio>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <!-- <el-col :span="12">
          <el-form-item prop="activityPhoto" label="活动封面图片">
            <el-upload
              ref="upload"
              action
              :http-request="handleFile"
              :on-change="activityPhoto_file"
              :multiple="false"
              :limit="1"
              :file-list="activityPhoto"
              accept="image/jpeg, image/gif, image/png, image/bmp"
              :before-upload="beforeAvatarUpload"
            >
              <el-button size="small" type="primary" @click="clearUploadedImage('upload')">点击上传</el-button>
              <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
            </el-upload>
          </el-form-item>
        </el-col> -->
        <el-col :span="12">
          <el-form-item prop="activityBanner" label="活动banner图片">
            <el-upload
              ref="upload1"
              action
              :http-request="handleFile"
              :on-change="activityBanner_file"
              :multiple="false"
              :limit="1"
              :file-list="activityBanner"
              accept="image/jpeg, image/gif, image/png, image/bmp"
              :before-upload="beforeAvatarUpload"
            >
              <el-button size="small" type="primary" @click="clearUploadedImage('upload1')">点击上传</el-button>
              <div slot="tip" class="el-upload__tip">只能上传图片文件</div>
            </el-upload>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityPrice" label="参考人均">
            <el-input
              style="width:250px;"
              name="activityPrice"
              type="text"
              v-model="activityForm.activityPrice"
            />
          </el-form-item>
        </el-col>
      </el-row>
       <!-- 引入富文本编辑器 -->
      <!-- <el-row>
        <el-col :span="20">
          <el-form-item prop="activityContent" label="内容">
            <quill-editor @change-content="listenToChild" :quillData="activityForm.activityContent"></quill-editor>
          </el-form-item>
        </el-col>
      </el-row> -->

      <div class="dialog-footer" style="float:right;margin-right: 212px;">
        <el-button @click="colseForm">取消</el-button>
        <el-button @click="addActivity" :disabled="isDisabled">保存</el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import store from "@/store";
import { getToken } from "@/utils/auth";
import { city } from "@/utils/city";
import { validateNum, validateDecimal } from "@/utils/validate";
import axios from "axios";
import quillEditor from "../../components/QuillEditor/quillEditor.vue"; //这里根据自己组件所放位置配置
export default {
  name: "addActivity",
  data() {
     let validateActivityPrice = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入参考人均金额"));
      } else {
        if (!validateDecimal(value)) {
          callback(new Error("参考人均金额输入格式不正确！"));
        }
        callback();
      }
    };
    let validateActivityVipPrice = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入活动保证金金额"));
      } else {
        if (!validateDecimal(value)) {
          callback(new Error("活动保证金金额输入格式不正确！"));
        }
        callback();
      }
    };
    let validateActivityLabel = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入活动标签"));
      } else {
        if (value.length > 4) {
          callback(new Error("活动标签长度不能超过四个汉字"));
        }
        callback();
      }
    };
    return {
      citys: city,
      activityForm: {
        id: null,
        activityName: null,
        activityStartTime: null,
        activityEndTime: null,
        signupStartTime: null,
        signupEndTime: null,
        createdTime: null,
        activityNum: null,
        status: null,
        activityRealNum: null,
        activityStreet: null,
        activityArea: null,
        sawCount: null,
        forwardCount: null,
        praiseCount: null,
        activityLabel: null,
        activityDayNight: null,
        activityPrice: null,
        activityVipPrice: null,
        activityPhotoUrl: null,
        activityBannerUrl: null,
        activityContent: null,
        activityTime: [],
        signupTime: [],
        activityNumMin: null,
        isShopActivity: "1",
        activityType: "1"
      },

      activityPhoto: [],
      activityBanner: [],
      activityRules: {
        activityName: [{ required: true, trigger: "blur", message: "必填" }],
        activityTime: [{ required: true, trigger: "blur", message: "必填" }],
        signupTime: [{ required: true, trigger: "blur", message: "必填" }],
        // activityNum: [{ required: true, trigger: "blur", message: "必填" }],
        activityStreet: [{ required: true, trigger: "blur", message: "必填" }],
        activityArea: [{ required: true, trigger: "blur", message: "必填" }],
        activityLabel: [
          { required: true, trigger: "blur", validator: validateActivityLabel }
        ],
        // activityDayNight: [
        //   { required: true, trigger: "blur", message: "必选" }
        // ],
        activityPrice: [
          { required: true, validator: validateActivityPrice, trigger: "blur" }
        ],
        // activityVipPrice: [
        //   {
        //     required: true,
        //     validator: validateActivityVipPrice,
        //     trigger: "blur"
        //   }
        // ],
        // activityNumMin: [{ required: true, trigger: "blur", message: "必填" }],
        // activityContent: [{ required: true, trigger: "blur", message: "必填" }],
        isShopActivity: [{ required: true, trigger: "blur", message: "必选" }]
      },
      isDisabled: false
    };
  },
  created() {
    this.initData();
  },
  components: {
    quillEditor
  },
  methods: {
    listenToChild(val) {
      this.activityForm.activityContent = val;
    },
    initData() {
      // cityTableApi.selectSunCity().then(res => {
      //   this.citys = res.data.data;
      // });
    },
    handleFile() {},
    clearUploadedImage(type) {
      // 重新选择文件时清空文件列表
      if (type === "upload") {
        this.$refs.upload.clearFiles();
        this.activityPhoto = [];
      } else if (type === "upload1") {
        this.$refs.upload1.clearFiles();
        this.activityBanner = [];
      }
    },
    activityPhoto_file(file, fileList) {
      // 活动封面 on-change 事件
      this.activityPhoto = fileList;
    },
    activityBanner_file(file, fileList) {
      // 详情页图 on-change 事件
      this.activityBanner = fileList;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isGIF = file.type === "image/gif";
      const isPNG = file.type === "image/png";
      const isBMP = file.type === "image/bmp";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG && !isGIF && !isPNG && !isBMP) {
        this.$message.error("上传图片必须是JPG/GIF/PNG/BMP 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传图片大小不能超过 2MB!");
      }
      return (isJPG || isBMP || isGIF || isPNG) && isLt2M;
    },
    addActivity() {
      this.$refs.activityForm.validate(valid => {
        if (!this.activityBanner[0]) {//!this.activityPhoto[0] &&
          this.$message.error("请上传图片！！！！！");
          return;
        }
        if (
          this.activityForm.signupTime[1] >= this.activityForm.activityTime[0]
        ) {
          this.$message.error("活动报名结束时间要小于活动开始时间！！！！！");
          return;
        }
        // if (this.activityForm.activityContent != null) {
        //   if (this.activityForm.activityContent.length / 1024 / 1024 > 4) {
        //     this.$message.error("活动报名内容超限，请合理安排活动内容！！！！！");
        //     return;
        //   }
        // }
        if (valid) {
          this.isDisabled = true;
          let formData = new FormData();
          //var formData = new window.FormData()
          //表单的数据
          formData.append("activityName", this.activityForm.activityName);
          formData.append(
            "activityStartTime",
            this.activityForm.activityTime[0]
          );
          formData.append("activityEndTime", this.activityForm.activityTime[1]);
          formData.append("signupStartTime", this.activityForm.signupTime[0]);
          formData.append("signupEndTime", this.activityForm.signupTime[1]);
          // formData.append("activityNum", this.activityForm.activityNum);
          formData.append("status", 4);
          formData.append("activityRealNum", 0);
          formData.append("activityStreet", this.activityForm.activityStreet);
          formData.append("activityArea", this.activityForm.activityArea);
          formData.append("activityLabel", this.activityForm.activityLabel);
          // formData.append(
          //   "activityDayNight",
          //   this.activityForm.activityDayNight
          // );
          formData.append("activityPrice", this.activityForm.activityPrice);
          // formData.append(
          //   "activityVipPrice",
          //   this.activityForm.activityVipPrice
          // );
          // formData.append("activityNumMin", this.activityForm.activityNumMin);

          // formData.append(
          //   "activityPhoto",
          //   this.activityPhoto[0] ? this.activityPhoto[0].raw : ""
          // );
          formData.append(
            "activityBanner",
            this.activityBanner[0] ? this.activityBanner[0].raw : ""
          );
          // formData.append("activityContent", this.activityForm.activityContent);
          formData.append("activityType", this.activityForm.activityType);
          formData.append("isShopActivity", this.activityForm.isShopActivity);

          let config = {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          };
          var url = "/activity/add";
          if (store.getters.token) {
            config.headers["authorization"] = getToken(); // 让每个请求携带token-- ['X-Token']为自定义key 请根据实际情况自行修改
          }
          axios.defaults.withCredentials = true;
          axios
            .post(process.env.BASE_API + url, formData, config, {
              withCredentials: true
            })
            .then(res => {
              console.log(res.data);
              if (res.data.code == 1000) {
                this.$message.success("活动添加成功");
                this.colseForm();
              } else {
                this.$message.error("活动添加失败");
              }
            });
        }
      });
    },
    colseForm() {
      this.$store.dispatch("delVisitedViews", this.$route);
      this.$router.go(-1);
    }
  }
};
</script>