<template>
    <div class="app-container">
        <!--查询-->
        <el-row>
            <el-input style="width:200px;" v-model="tableQuery.activityName" placeholder="活动标题"></el-input>
            <span style="margin-right: 15px;"></span>
            <el-select style="width:200px;" v-model="tableQuery.statusValue" placeholder="请选择">
                <el-option v-for="item in activityStatus" :key="item.value" :lable="item.value" :value="item.lable"></el-option>
            </el-select>
            <span style="margin-right: 15px;"></span>
            <el-tooltip class="item" content="搜索" placement="top">
                <el-button icon="el-icon-search" circle @click="fetchData(1)"></el-button>
            </el-tooltip>
        </el-row>
         <div style="margin-bottom: 30px;"></div>
         <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleCreate">{{textMap.create}}</el-button>
        <div style="margin-bottom: 30px;"></div>
    <!--列表-->
     <el-table style="width: 100%"
              :data="tableData"
              v-loading.body="tableLoading"
              element-loading-text="Loading"
              border fit highlight-current-row>
      <el-table-column prop="id" label="活动id" ></el-table-column>
      <el-table-column prop="activityName" label="活动标题" ></el-table-column>
      <el-table-column prop="activityRealNum" label="活动现有人数" ></el-table-column>
      <el-table-column prop="activityStartTime" label="活动开始时间" ></el-table-column>
      <el-table-column prop="activityArea" label="活动地区" ></el-table-column>
      <el-table-column prop="status" :formatter="formatterActivityStatus" label="活动状态" ></el-table-column>
      <el-table-column prop="activityBannerUrl"  label="活动banner图片" width="170">
        <template  slot-scope="scope" > 
            <img :src="scope.row.activityBannerUrl" width="150"/>
        </template>
      </el-table-column>
     
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-tooltip content="查看" placement="top">
            <el-button @click="handleView(scope.$index,scope.row)" size="medium" type="warning" icon="el-icon-view" circle plain></el-button>
          </el-tooltip>
          <el-tooltip content="编辑" placement="top" v-if="!hasRole(scope.row)">
            <el-button @click="handleUpdate(scope.$index,scope.row)" size="medium" type="info" icon="el-icon-edit" circle plain></el-button>
          </el-tooltip>
          <el-tooltip content="删除" placement="top" v-if="!hasRole(scope.row)">
            <el-button @click="handleDelete(scope.$index,scope.row)" size="medium" type="danger" icon="el-icon-delete" circle plain></el-button>
          </el-tooltip>
          
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-bottom: 30px;"></div>
    <!--分页-->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="tablePage.current"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="tablePage.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tablePage.total">
    </el-pagination>
    
    </div>
</template>
<script>
  import activityApi from '@/api/activity'
  import { pageParamNames, confirm, root } from '@/utils/constants'
  import {activityStatus}  from '@/utils/activity'
  import debounce from 'lodash/debounce'

export default {
      name: 'ActivityManage',
    data() {
      return {
        activityStatus:activityStatus,
        tableLoading:false,
        tableData: [],
        tableQuery:{
          activityName: null,
          status: null,
          statusValue:null
        },
        tablePage: {
          current: null,
          pages: null,
          size:null,
          total: null
        },
        dialogFormVisible: false,
        temp: {
          idx: null,//表格的下标
          id: null,
          activityName: null,
          activityStartTime: null,
          activityEndTime: null,
          signupStartTime: null,
          signupEndTime: null,
          createdTime:null,
          activityNum: null,
          status: null,
          activityRealNum: null,
          activityStreet: null,
          activityArea: null,
          sawCount: null,
          forwardCount: null,
          praiseCount: null,
          activityLabel: null,
          activityDayNight: null,
          activityPrice: null,
          activityVipPrice: null,
          activityPhotoUrl: null,
          activityBannerUrl: null,
          activityContent: null
        },
        textMap: {
          update: '编辑活动',
          create: '新增活动'
        },
      }
    },
    created(){
      this.fetchData()
    },
     watch:{
      //延时查询
      'tableQuery.activityName': debounce( function(){
        this.fetchData()
      },500),
      'tableQuery.statusValue': debounce( function(){
        this.fetchData()
      },500),
    },//watch
  methods: {
      hasRole(row){
        return row && row.rval==root.rval
      },
      //分页
      handleSizeChange(val) {
        this.tablePage.size = val;
        this.fetchData();
      },
      handleCurrentChange(val) {
        this.tablePage.current = val;
        this.fetchData();
      },
       formatterActivityStatus: function(row, column, value) {
        for(let i = 0; i < activityStatus.length; i++){
              if(value==activityStatus[i].value){
                // console.log(activityStatus[i].value)
                return activityStatus[i].lable;
              }
            }
      },
      getActivityStatus: function(value) {
        for(let i = 0; i < activityStatus.length; i++){
              if(value==activityStatus[i].lable){
                // console.log(activityStatus[i].lable)
                return activityStatus[i].value;
              }
            }
      },
      //查询
      fetchData() {
        this.tableLoading = true
        if(this.tableQuery.statusValue!=null){
            let status= this.tableQuery.statusValue;
            this.tableQuery.status=this.getActivityStatus(status);

        }
        activityApi.queryActivity(this.tableQuery,this.tablePage).then(res => {
          this.tableData = res.data.data.data
          this.tableLoading = false
          //设置后台返回的分页参数
          pageParamNames.forEach(name=>this.$set(this.tablePage,name,res.data.data[name]))
        })
      },

      //更新
      handleUpdate(idx,row) {
       this.$router.push({name:'updateActivity',params:{id:row.id}});
      },
      //删除
      handleDelete(idx,row) {
        let massge="您确定要删除该活动？";
        
        this.$confirm(massge, '提示', confirm).then(() => {
          activityApi.deleteActivity( {id : row.id} ).then(res => {
             if(res.data.code==1000){
              this.$message.success('活动删除成功');
            }else{
              this.$message.error('活动删除失败');
            }
             window.location.reload();
          })
        }).catch(() => {
          this.$message.info('已取消删除操作')
        })
      },

      //新增
      handleCreate() {
       this.$router.push({path:'/activity/addActivity'});
      },
      //查看攻略详细信息
      handleView(idx,row) {
      this.$router.push({name:'selectActivity',params:{id:row.id}});
      },
      
    }
}
</script>

