<template>
  <div class="app-container">
    <el-form
      class="detail-form"
      autocomplete="on"
      :model="activityForm"
      ref="activityForm"
      label-position="left"
      label-width="180px"
    >
      <div>
        <h3>查看活动信息</h3>
      </div>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="activityName" label="活动标题">{{activityForm.activityName}}</el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityLabel" label="活动标签">
            {{activityForm.activityLabel}}
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="activityTime" label="活动起止时间">
            <el-date-picker
              v-model="activityForm.activityTime"
              type="datetimerange"
              range-separator="至"
              start-placeholder="活动开始时间"
              end-placeholder="活动结束时间"
              value-format="yyyy-MM-dd HH:mm:ss"
              readonly
            ></el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="signupTime" label="活动报名起止时间">
            <el-date-picker
              v-model="activityForm.signupTime"
              type="datetimerange"
              range-separator="至"
              start-placeholder="活动开始报名时间"
              end-placeholder="活动结束报名时间"
              value-format="yyyy-MM-dd HH:mm:ss"
              readonly
            ></el-date-picker>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="activityNum" label="活动允许最大人数">{{activityForm.activityNum}}人</el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityNumMin" label="活动举办最少人数">{{activityForm.activityNumMin}}人</el-form-item>
          
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="activityArea" label="活动区域（粗略地址）">{{activityForm.activityArea}}</el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityStreet" label="活动街道（详细地址）">{{activityForm.activityStreet}}</el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="activityPrice" label="活动原价">￥{{activityForm.activityPrice}}</el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityVipPrice" label="活动保证金">￥{{activityForm.activityVipPrice}}</el-form-item>
        </el-col>
      </el-row>
       <el-row>
        <el-col :span="12">
          <el-form-item prop="activityDayNight" label="活动日夜场">
            <el-radio v-model="activityForm.activityDayNight" label="0" border disabled>夜场</el-radio>
            <el-radio v-model="activityForm.activityDayNight" label="1" border disabled>日场</el-radio>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityType" label="活动类型">
            <el-radio v-model="activityForm.activityType" label="0" border disabled>vip活动</el-radio>
            <el-radio v-model="activityForm.activityType" label="1" border disabled>普通活动</el-radio>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="activityPhotoUrl" label="活动封面">
            <img :src="activityForm.activityPhotoUrl" style="width: 300px" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityBannerUrl" label="活动banner图片">
            <img :src="activityForm.activityBannerUrl" style="width: 300px" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="status" label="活动状态">{{activityForm.status|formatterStatus}}</el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="activityRealNum" label="活动现有人数">{{activityForm.activityRealNum}}人</el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="sawCount" label="活动浏览统计">{{activityForm.sawCount}}</el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="forwardCount" label="活动转发统计">{{activityForm.forwardCount}}</el-form-item>
        </el-col>
      </el-row>
       <el-row>
        <el-col :span="12">
          <el-form-item prop="praiseCount" label="活动点赞统计">{{activityForm.praiseCount}}</el-form-item>
        </el-col>
        
      </el-row>
      <el-row>
        <el-col :span="20">
          <el-form-item prop="content" label="内容">
            <div v-html="activityForm.activityContent" class="ql-editor">{{activityForm.activityContent}}</div>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import activityApi from "@/api/activity";
import store from "@/store";
export default {
  name: "viewActivity",
  filters: {
   formatterStatus: function(value) {
        if(value==0){
        return  "活动结束";
      }else if(value==1){
        return  "活动中";
      }else if(value==2){
        return  "活动未开始报名已结束";
      }else if(value==3){
        return  "活动报名中";
      }else if(value==4){
        return  "活动报名未开始";
      }
      },
  },
  data() {
    return {
      activityForm: {
        id: null,
        activityName: null,
        activityStartTime: null,
        activityEndTime: null,
        signupStartTime: null,
        signupEndTime: null,
        createdTime: null,
        activityNum: null,
        status: null,
        activityRealNum: null,
        activityStreet: null,
        activityArea: null,
        sawCount: null,
        forwardCount: null,
        praiseCount: null,
        activityLabel: null,
        activityDayNight: null,
        activityPrice: null,
        activityVipPrice: null,
        activityPhotoUrl: null,
        activityBannerUrl: null,
        activityContent: null,
        activityTime: [],
        signupTime: [],
        activityNumMin: null,
        activityType: null,
      }
    };
  },
  created() {
    this.initData();
  },
  methods: {
    initData() {
      //格式化活动表单
      let id = this.$route.params.id;
      if (!id) id = 1;
      activityApi.selectActivity(id).then(res => {
        if (res.data.code == 1000) {
          this.activityForm = res.data.data;
          this.activityForm.activityContent =res.data.data.contentStr;
          this.activityForm.activityTime = [
            res.data.data.activityStartTime,
            res.data.data.activityEndTime
          ];
          this.activityForm.signupTime = [
            res.data.data.signupStartTime,
            res.data.data.signupEndTime
          ];
        }
      });
    },
    colseForm() {
      this.$store.dispatch("delVisitedViews", this.$route);
      this.$router.go(-1);
    },
    // 转码
    escapeStringHTML(str) {
      str = str.replace(/&lt;/g, "<");
      str = str.replace(/&gt;/g, ">");
      return str;
    },
    
  }
};
</script>
