<template>
  <div class="app-container">
    <div style="margin-bottom: 30px;"></div>
    <el-row>
      <el-col :span="8">
        <el-upload
           ref="upload"
          action=""
          :on-change="handleChange"
          :on-remove="handleRemove"
          :before-upload="beforeAvatarUpload"
          :file-list="fileListUpload"
          :limit="1"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          :auto-upload="false"
        >
          <el-button size="small" type="primary" @click="clearUploadedImage()">点击上传</el-button>
          <div slot="tip" class="el-upload__tip">只 能 上 传 xlsx 文 件</div>
        </el-upload>
        
      </el-col>
       <el-col :span="8">
         <el-date-picker
      v-model="date"
     type="date"
      placeholder="选择日期"
      value-format="yyyy-MM-dd">
    </el-date-picker>
      </el-col>
      <el-col :span="8">
        <el-button type="primary" icon="document" size="mini" @click="exportToExcel">导出Excel</el-button>
      </el-col>
    </el-row>
    <div style="margin-bottom: 30px;"></div>
    <!--列表-->
    <el-table
      style="width: 100%"
      :data="tableData"
      v-loading.body="tableLoading"
      element-loading-text="加载中"
      border
      fit
      highlight-current-row
    >
      <el-table-column prop="id" label="订单编号"></el-table-column>
      <el-table-column   prop="productAmountTotal" label="商品总价" >
      </el-table-column>
      <el-table-column prop="createTime" label="支付时间">
      </el-table-column>
      <el-table-column prop="createUser" label="创建用户" width="180"></el-table-column>
      <el-table-column prop="orderStatus" label="订单状态"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import orderInfoApi from "@/api/orderInfo";
import debounce from "lodash/debounce";
import { formatTimeToStr } from "@/utils/date";
export default {
  name: "queryOrderInfo",
  
  data() {
    return {
      tableLoading: false,
      tableData: [],
      data: [],
      fileListUpload: [],
      dataTemp:[],
     file:null,
      date:null,
    };
  },
   created() {
    this.fetchData();
  },
  watch: {
      //延时查询
      'date': debounce(function () {
        this.fetchData()
      }, 500),
      
    },//watch
  methods: {
     //查询
    fetchData() {
      this.tableLoading = true;
      orderInfoApi
        .queryOrderInfoByTime({"date":this.date})
        .then(res => {
          this.tableData = res.data.data;
           this.tableLoading = false;
        });
    },
     clearUploadedImage () {
        this.$refs.upload.clearFiles();
        this.fileListUpload = [];
     
    },
    beforeAvatarUpload(file) {
      const isSheet =
        file.type ===
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
      const isExcel = file.type === "application/vnd.ms-excel";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isSheet && !isExcel&&file.name.indexOf("xlsx") == -1) {
        this.$message({
          type: "warning",
          message: "附件格式错误，请删除后重新上传！"
        });
      }
      return (isSheet || isExcel)&&file.name.indexOf("xlsx") != -1;
    },
    handleChange(file, fileList) {
      const isSheet =
        file.type ===
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
      const isExcel = file.type === "application/vnd.ms-excel";
      if (!isSheet && !isExcel&&file.name.indexOf("xlsx") == -1) {
        this.$message({
          type: "warning",
          message: "附件格式错误，请重新上传！"
        });
        this.$refs.upload.clearFiles();
        return;
      }
      this.fileListUpload = fileList;
      if(this.fileListUpload[0]!=null){
          this.importfxx(this.fileListUpload);
      }
     
    },

    handleRemove(file, fileList) {
      this.fileListUpload = null;
    },
    importfxx(obj) {
      // this.tableLoading = true
      let _this = this;
      let inputDOM = this.$refs.inputer;
      // 通过DOM取文件数据
      this.file = event.currentTarget.files[0];
      var rABS = false; //是否将文件读取为二进制字符串
      var f = this.file;
      var reader = new FileReader();
      //if (!FileReader.prototype.readAsBinaryString) {
      FileReader.prototype.readAsBinaryString = function(f) {
        var binary = "";
        var rABS = false; //是否将文件读取为二进制字符串
        var pt = this;
        var wb; //读取完成的数据
        var outdata;
        var reader = new FileReader();
        reader.onload = function(e) {
          var bytes = new Uint8Array(reader.result);
          var length = bytes.byteLength;
          for (var i = 0; i < length; i++) {
            binary += String.fromCharCode(bytes[i]);
          }
          var XLSX = require("xlsx");
          if (rABS) {
            wb = XLSX.read(btoa(fixdata(binary)), {
              //手动转化
              type: "base64"
            });
          } else {
            wb = XLSX.read(binary, {
              type: "binary"
            });
          }
          outdata = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]); //outdata就是你想要的东西
          this.data = [...outdata];
          let arr = [];
            _this.tableData =[];
          this.data.map(v => {
            // console.log(v);
            let obj = {};
            obj.id = v.商户单号;
             arr.push(obj);
            orderInfoApi.queryOrderInfoByID(obj).then(res => {
              let data = res.data.data;
              if (null == data) {
                let temp = {};
                temp.id = v.商户单号;
                temp.orderStatus = "无此订单";
                _this.tableData = _this.tableData.concat(temp);
              } else
              _this.tableData = _this.tableData.concat(data);
            });

         
          });
          _this.$message({
            message: "请耐心等待导入成功",
            type: "success"
          });
          return  this.tableData ;
        };
        reader.readAsArrayBuffer(f);
      };
      if (rABS) {
        reader.readAsArrayBuffer(f);
      } else {
        reader.readAsBinaryString(f);
      }
    },

    exportToExcel() {
      //excel数据导出
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        const tHeader = ["订单编号", "支付时间", "订单状态"];
        const filterVal = ["id", "createTime", "orderStatus"];
        const list = new Array();
        console.log(this.tableData);
        for (let index = 0; index < this.tableData.length; index++) {
          const element = {};
          element.id = this.tableData[index].id;
          element.createTime = this.tableData[index].createTime;
          element.orderStatus = this.tableData[index].orderStatus;
          list[index] = element;
        }
        const data = this.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, "会员订单查询结果");
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  }
};
</script>
