<template>
  <div class="app-container">
    <!--查询  -->
    <el-row>
      <el-date-picker
        v-model="tableQuery"
        type="daterange"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
        value-format="yyyy-MM-dd"
      ></el-date-picker>
      <span style="margin-right: 15px;"></span>
      <el-tooltip class="item" content="搜索" placement="top">
        <el-button icon="el-icon-search" circle @click="fetchData()"></el-button>
      </el-tooltip>
    </el-row>
    <div style="margin-bottom: 30px;"></div>
    <el-button type="primary" icon="document" size="mini" @click="exportToExcel">导出Excel</el-button>
    <div style="margin-bottom: 30px;"></div>
    <div>
      <!-- <e-charts :options="chartOption"></e-charts> -->
      <div id="myChart" style="width: 1000px;height: 600px;"></div>
    </div>
  </div>
</template>

<script>
 import orderInfoApi from '@/api/orderInfo'
export default {
  data() {
    return {
      tableQuery: [],
      tableData: [],
      queryParam:{
        startTime:null,
        endTime:null
      },
      dataArr: [], //需要替换的数据
      toDayVipNumList: [], //需要替换的数据
      vipNumCountList: [], //需要替换的数据
      toDayRenewNumList:[],
    };
  },
  created() {
    this.fetchData();
  },
  mounted() {
    this.drawLine();
  },
  watch: {
    dataArr(val) {
      //监听数据发生改变 刷新图表数据
      this.drawLine();
    }
  },
  methods: {
    //查询
    fetchData() {
      this.queryParam.startTime=this.tableQuery[0];
      this.queryParam.endTime=this.tableQuery[1];
      orderInfoApi
        .queryUserApply(this.queryParam)
        .then(res => {
          this.tableData = res.data.data;
          this.dataArr = res.data.data.daysStr;
          this.toDayVipNumList = res.data.data.toDayVipNumList;
          this.toDayRenewNumList = res.data.data.toDayRenewNumList;
          this.vipNumCountList = res.data.data.vipNumCountList;
        });
    },
    drawLine() {
      var odataArr = this.dataArr;
      var toDayVipNumList = this.toDayVipNumList;
      var vipNumCountList = this.vipNumCountList;
      var toDayRenewNumList = this.toDayRenewNumList;
      //总计
    var data3 = function() {
        var datas = [];
        for (var i = 0; i < toDayRenewNumList.length; i++) {
 
            datas.push(toDayVipNumList[i] + toDayRenewNumList[i]);
        }
        return datas;
    }();
    console.log(data3);
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("myChart"));
      // 绘制图表
      myChart.setOption({
        title: { text: "会员数量统计" },
        tooltip: {},
        //右上角的工具箱
        toolbox: {
          x: "80%",
          y: "top",
          show: true,
          feature: {
            mark: { show: true },
            //是否可以保存图片
            saveAsImage: { show: true },
            //dataView : '数据视图',
            dataView: { show: true },
            magicType: {
              //动态类型切换
              type: ["bar", "line"]
            }
          }
        },
        legend: {
          // orient: 'vertical',
          data: ["今日新增会员","今日续费会员", "截止今日会员总量"]
        },
        grid: {
				        left: '3%',
				        right: '4%',
				        bottom: '3%',
				        containLabel: true
				},
        xAxis: {
          data: odataArr,
          type : 'category',
          axisLabel: {
            rotate: 40
          } 
        },
        yAxis: [
          {
          name:"会员总量",
        },{
          name:"新增/续费会员",
        }
        ],
        series: [
          {
            name: "今日新增会员",
            type: "bar", //折线图 可以自定义bar柱状图
            yAxisIndex: 1,
            stack:'sum',
                itemStyle:{
                    normal:{
                        label: {
                            show: true,//是否展示
                        },
                        // color:'#F89733'
                    }
                },
            data: toDayVipNumList
          },
          {
            name: "今日续费会员",
            type: "bar", //折线图 可以自定义bar柱状图
            yAxisIndex: 1,
            stack:'sum',
                // barWidth : 20,
                itemStyle:{
                    normal:{
                        label: {
                            show: true,//是否展示
                        },
                        // color:'#DF7010'
                    }
                },
            data: toDayRenewNumList
          },
            {
                name: '总计',
                type: 'bar',
                stack: 'sum',
                yAxisIndex: 1,
                label: {
                    normal: {
                        offset:['50', '80'],
                        show: true,
                        position: 'insideBottom',
                        formatter:'{c}',
                        textStyle:{ color:'#000' }
                    }
                },
                itemStyle:{
                    normal:{
                        color:'rgba(128, 128, 128, 0)'
                    }
                },
                data: data3
            },

          {
            name: "截止今日会员总量",
            type: "line", //折线图 可以自定义bar柱状图
            yAxisIndex: 0,
            data: vipNumCountList
          }
        ]
      });
    },

    exportToExcel() {
        //excel数据导出
        require.ensure([], () => {
            const {
                export_json_to_excel
            } = require('../../excel/Export2Excel');
            const tHeader = ['日期','今日新增会员', '今日续费会员', '截止今日会员总量'];
            const filterVal = ['date','toDayVipNum','toDayRenewNum', 'vipNumCount'];
            const list =new Array();
            for (let index = 0; index < this.dataArr.length; index++) {
              const element ={date:null,toDayVipNum:null,toDayRenewNum:null,vipNumCount:null};
               element.date = this.dataArr[index];
               element.toDayVipNum = this.toDayVipNumList[index];
               element.toDayRenewNum = this.toDayRenewNumList[index];
               element.vipNumCount = this.vipNumCountList[index];
               list[index]= element; 
              
            }
            const data = this.formatJson(filterVal, list);
            export_json_to_excel(tHeader, data, '会员统计');
        })
    },
    formatJson(filterVal, jsonData) {
        return jsonData.map(v => filterVal.map(j => v[j]))
    },
  },
  components: {}
};
</script>