<template>
  <div class="app-container">
    <!--查询  -->
    <el-row>
      <el-input style="width:200px;" v-model="tableQuery.id" placeholder="订单编号"></el-input>
      <span style="margin-right: 15px;"></span>
      <el-tooltip class="item" content="搜索" placement="top" >
        <el-button icon="el-icon-search" circle @click="fetchData(1)"></el-button>
      </el-tooltip>
    </el-row>
    <div style="margin-bottom: 30px;"></div>
    <!--列表-->
    <el-table style="width: 100%"
              :data="tableData"
              v-loading.body="tableLoading"
              element-loading-text="加载中"
              border fit highlight-current-row>
      <el-table-column prop="id" label="订单编号" ></el-table-column>
      <el-table-column   prop="productAmountTotal" label="商品总价" >
        
      </el-table-column>
      <el-table-column prop="createTime" label="支付时间">
          <template   slot-scope="scope"> 
        {{scope.row.createTime|formatDate}}
        </template>
      </el-table-column>
      <el-table-column prop="createUser" label="创建用户" width="180"></el-table-column>
      <el-table-column prop="orderStatus" label="订单状态" ></el-table-column>
    </el-table>
    <div style="margin-bottom: 30px;"></div>
    <!--分页-->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="tablePage.current"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="tablePage.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tablePage.total">
    </el-pagination>
  </div>
</template>

<script>
 import orderInfoApi from '@/api/orderInfo'
 import debounce from 'lodash/debounce'
 import {root,confirm,pageParamNames} from '@/utils/constants'
import {formatTimeToStr} from '@/utils/date';
  export default {
    name: 'queryOrderInfo',
    filters: {
      formatDate: function(value) {
         return value.slice(0,4).concat("-").concat(value.slice(4,6)).concat("-").concat(value.slice(6,8)).concat(" ").concat(value.slice(8,10)).concat(":").concat(value.slice(10,12)).concat(":").concat(value.slice(12,14));;
      
      },
  },
    data() {

      return {
        tableLoading: false,
        tableData: [],
        tableQuery: {
          id: null
        },
        tablePage: {
          current: null,
          pages: null,
          size: null,
          total: null
        },
        
      }

    },

    created() {
      this.fetchData();
    },
    
    watch: {
      //延时查询
      'tableQuery.id': debounce(function () {
        this.fetchData()
      }, 500),
      
    },//watch

    methods: {

      //分页
      handleSizeChange(val) {
        this.tablePage.size = val;
        this.fetchData();
      },
      handleCurrentChange(val) {
        this.tablePage.current = val;
        this.fetchData();
      },

      //查询
      fetchData(current) {
        if(current){
          this.tablePage.current = current
        }
        this.tableLoading = true
        orderInfoApi.queryOrderInfo(this.tableQuery, this.tablePage).then(res => {
          this.tableData = res.data.data.data
          this.tableLoading = false
          pageParamNames.forEach(name => this.$set(this.tablePage, name, res.data.data[name]))
        })
      },
      handleView(idx,row) {
      },


    }
  }
</script>
